@keyframes open {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
		display: flex;
	}
	100% {
		opacity: 1;
	}
}

@keyframes close {
	0% {
		opacity: 1;
		display: flex;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

.modalOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #09101cb2;
	justify-content: center;
	align-items: center;
	z-index: 1001;
	opacity: 0;
	animation: open 0.1s forwards;
}

.modalOverlay.active {
	opacity: 1;
	display: flex;
}
.modalOverlay.closing {
	animation: close 0.7s forwards;
}

.modal {
	z-index: 1002;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2.604vw 4.167vw;
	border-radius: 1.04vw;
	width: 31.77vw;
	height: 29.27vw;
	.success {
		svg {
			width: 4.375vw;
			height: 4.375vw;
		}
		p {
			font-size: 1.458vw;
			font-weight: 700;
			line-height: 2.1875vw;
			text-align: center;
			color: #ffffff;
		}
	}
	.header {
		display: flex;
		flex-direction: row;
		gap: 0.521vw;
		height: 3.021vw;
		margin-bottom: 0.521vw;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		svg {
			width: 1.979vw;
			height: 1.979vw;
		}
	}
	.desc {
		font-size: 0.78125vw;
		font-weight: 500;
		line-height: 1.25vw;
		text-align: left;
		color: #0e131fb2;
	}
	.title {
		font-size: 1.67vw;
		font-weight: 600;
		line-height: 1.67vw;
		letter-spacing: -0.03125vw;
		text-align: left;
		color: #0e131f;
	}
	button {
		transition: 0.5s ease;
		@apply hover:text-text;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 2.5vw;
		border-radius: 0.4167vw;
		background: #2a2c32;
		font-weight: 700;
		font-size: 0.729vw;
		line-height: 0.729vw;
		color: #ffffff;
		user-select: none;
		&:hover {
			background: #2a2c32;
			color: white;
		}
		&:active {
			@apply bg-text bg-opacity-30;
		}
		&:disabled {
			background: #d6d6d7;
			color: white;
		}
		.arrow {
			display: flex;
			flex-direction: row;
			gap: 10px;
			justify-content: center;
			align-items: center;
		}
	}
	.input_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 12.71vw;
		gap: 1.667vw;
		.input {
			display: flex;
			flex-direction: column;
			gap: 1.667vw;
			.custom_input {
				background: #fff;
				border: 0.05vw solid #ebebeb;
				padding: 0.573vw 0.885vw;
				border-radius: 0.26vw;
				font-size: 0.83vw;
				font-weight: 400;
				line-height: 1.1979vw;
				text-align: left;
				width: 100%;
				height: 2.395vw;
			}
		}

		.checkbox_container {
			display: flex;
			flex-direction: row;
			gap: 0.625vw;
			text-align: left;
			p {
				font-size: 0.78125vw;
				font-weight: 500;
				line-height: 1.25vw;
				text-align: left;
				color: #0e131fb2;
			}
			span {
				text-decoration: underline;
			}

			.checkbox {
				color: #2a2c32;
				border-radius: 0.26vw;
				width: 1.25vw;
				height: 1.25vw;
				cursor: pointer;
				outline: none;
			}

			input[type='checkbox']:focus {
				outline: none;
				visibility: hidden;
			}
		}
	}
}

@media (max-width: 768px) {
	.modal {
		z-index: 1002;
		background: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding: 14.358vw 3.0769vw 25.641vw;
		border-radius: 1.04vw;
		width: 93.8462vw;
		height: 154.358vw;
		.success {
			svg {
				width: 24vw;
				height: 24vw;
			}
			p {
				font-size: 3.5897vw;
				font-weight: 700;
				line-height: 6.1538vw;
				text-align: center;
				color: #ffffff;
			}
		}
		.header {
			display: flex;
			flex-direction: row;
			gap: 4.6154vw;
			height: fit-content;
			margin-bottom: 8.2051vw;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			svg {
				width: 9.7436vw;
				height: 9.7436vw;
			}
		}
		.desc {
			font-size: 3.5897vw;
			font-weight: 500;
			line-height: 6.1538vw;
			text-align: left;
			color: #0e131fb2;
		}
		.title {
			font-size: 7.1795vw;
			font-weight: 600;
			line-height: 10.7692vw;
			letter-spacing: -0.03125vw;
			text-align: left;
			color: #0e131f;
		}
		button {
			transition: 0.5s ease;
			@apply hover:text-text;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 12.3077vw;
			border-radius: 1.2821vw;
			font-weight: 700;
			font-size: 4.1026vw;
			line-height: 6.1538vw;
			color: #ffffff;
			user-select: none;
			&:hover {
				background: #2a2c32;
				color: white;
			}
			&:active {
				@apply bg-text bg-opacity-30;
			}
			&:disabled {
				background: #d6d6d7;
				color: white;
			}
			.arrow {
				display: flex;
				flex-direction: row;
				gap: 10px;
				justify-content: center;
				align-items: center;
			}
		}
		.input_container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 52.3077vw;
			gap: 8.2051vw;
			margin: 4.1026vw 0 8.2051vw;
			.input {
				display: flex;
				flex-direction: column;
				gap: 8.2051vw;
				.custom_input {
					background: #fff;
					border: 0.05vw solid #ebebeb;
					padding: 2.8205vw 4.359vw;
					border-radius: 1.2821vw;
					font-size: 4.1026vw;
					line-height: 6.1538vw;
					font-weight: 400;
					text-align: left;
					width: 100%;
					height: 12.3077vw;
				}
			}
			.checkbox_container {
				display: flex;
				flex-direction: row;
				gap: 2.8205vw;
				height: 11.2821vw;
				padding: 2.5641vw;
				p {
					font-size: 3.0769vw;
					font-weight: 500;
					line-height: 6.1538vw;
					text-align: left;
					color: #0e131fb2;
				}
				.checkbox {
					color: #2a2c32;
					border-radius: 1.5385vw;
					width: 6.1538vw;
					height: 6.1538vw;
					cursor: pointer;
					outline: none;
				}
			}
		}
	}
}
