.wrapper {
	max-width: 1480px;
	margin: 0 auto;
	.container {
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		padding-top: 14vh;

		h1 {
			font-size: 48px;
			font-weight: 700;
			line-height: 61px;
			text-align: left;
			box-sizing: border-box;
			margin-bottom: 32px;
		}

		h2 {
			font-size: 20px;
			font-weight: 600;
			line-height: 28px;
			text-align: left;
			box-sizing: border-box;
			margin-bottom: 24px;
		}

		h3 {
			font-size: 32px;
			font-weight: 700;
			line-height: 44px;
			text-align: left;
			margin-bottom: 16px;
		}

		h4 {
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			text-align: left;
			box-sizing: border-box;
			margin-bottom: 16px;
			span {
				font-weight: 900;
			}
		}
	}
}

@media (max-width: 1600px) {
	.wrapper {
		max-width: 1200px;
		.container {
			h1 {
				font-size: 40px;
				line-height: 58px;
				margin-bottom: 28px;
			}

			h2 {
				font-size: 18px;
				line-height: 26px;
				margin-bottom: 20px;
			}

			h3 {
				font-size: 30px;
				line-height: 42px;
				margin-bottom: 14px;
			}

			h4 {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 14px;
			}
		}
	}
}

@media (max-width: 1300px) {
	.wrapper {
		max-width: 900px;
		.container {
			h1 {
				font-size: 28px;
				line-height: 36px;
				margin-bottom: 20px;
			}

			h2 {
				font-size: 12px;
				line-height: 20px;
				margin-bottom: 16px;
			}

			h3 {
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 12px;
			}

			h4 {
				font-size: 11px;
				line-height: 18px;
				margin-bottom: 12px;
			}
		}
	}
}

@media (max-width: 992px) {
	.wrapper {
		max-width: 600px;
		.container {
			h1 {
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 16px;
			}

			h2 {
				font-size: 9px;
				line-height: 16px;
				margin-bottom: 14px;
			}

			h3 {
				font-size: 15px;
				line-height: 20px;
				margin-bottom: 10px;
			}

			h4 {
				font-size: 8px;
				line-height: 12px;
				margin-bottom: 9px;
			}
		}
	}
}

@media (max-width: 768px) {
	.wrapper {
		max-width: 600px;
		margin: 0 4vw 2.4vw;
		padding-top: 3.5vw;
		.container {
			h1 {
				font-size: 4vw;
				line-height: 6vw;
				margin-bottom: 4vw;
			}

			h2 {
				font-size: 2.2vw;
				line-height: 3vw;
				margin-bottom: 3.7vw;
			}

			h3 {
				font-size: 3.7vw;
				line-height: 4.3vw;
				margin-bottom: 3.4vw;
			}

			h4 {
				font-size: 2vw;
				line-height: 2.8vw;
				margin-bottom: 2vw;
			}
		}
	}
}
