.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 26.6667vw;
    gap: 1.0417vw;
    p {
        font-size: 1.7708vw;
        font-weight: 700;
        line-height: 2.0833vw;
        text-align: center;
        color: #2A2C32;
        width: 100%;
    }
    span {
        font-size: 0.833vw;
        font-weight: 400;
        line-height: 1.3333vw;
        text-align: center;
        color: #2A2C32;
        width: 100%;
    }
}

.slider_container{
    max-height: fit-content;
    align-self: flex-end;
    width: 123.44vw;
    margin-right: -38.33vw;
    position: relative;
    .gradient {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 38.33vw;
        height: 24.4792vw;
        width: 26.0417vw;
        background: linear-gradient(to right, transparent 0%, #ffffff99 20%, #ffffff99 100%);
        pointer-events: none;
    }
    .switch {
        position: absolute;
        top: 12.0833vw;
        left: 67.96875vw;
        padding: 0.1vw;
        z-index: 3;
        svg {
            width: 3.6458vw;
            height: 3.6458vw;
            color: white;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin: 7.0833vw 0;
    gap: 2.708vw;
}

@media (max-width: 768px) {
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 87.4359vw;
        gap: 5.1282vw;
        p {
            font-size: 6.1538vw;
            font-weight: 700;
            line-height: 7.1795vw;
            text-align: left;
            color: #2A2C32;
        }
        span {
            font-size: 4.1026vw;
            font-weight: 400;
            line-height: 6.5641vw;
            text-align: left;
            color: #2A2C32;
        }
    }
    .slider_container{
        max-height: fit-content;
        align-self: flex-end;
        width: 165.1282vw;
        margin-right: -70.2564vw;
        position: relative;

        .gradient {
            z-index: 2;
            position: absolute;
            top: 0;
            right: 70.2564vw;
            height: 145.3846vw;
            width: 32.3077vw;
            background: linear-gradient(to right, transparent 0%, #ffffff99 100%);
        }
        .switch {
            display: none;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: fit-content;
        margin-top: 17.9487vw;
        gap: 6.6667vw;
    }
}