.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #246bfd;
	width: 100%;
}
.main_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 128px 0;
}
