.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #246bfd;
	width: 100%;
}
.main_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 128px 0;
	img {
		user-select: none;
		pointer-events: none;
	}
}

@media (max-width: 1600px) {
	.main_container {
		padding: 92px 0;
		img {
			width: 1200px;
		}
	}
}

@media (max-width: 1300px) {
	.main_container {
		padding: 64px 0;
		img {
			width: 900px;
		}
	}
}

@media (max-width: 992px) {
	.main_container {
		padding: 48px 0;
		img {
			width: 600px;
		}
	}
}
