.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 59.8958vw;
    position: relative;
    overflow: hidden;
}

.gradient {
    position: absolute;
    width: 100vw;
    height: 38.8021vw;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #2A2C32 5%, #F9C9C4 100%);
    z-index: 1;
}

.background {
    position: absolute;
    width: 90.625vw;
    height: 43.75vw;
    background: url('../../../../assets/icons/hero/HeroBackground.png') no-repeat;
    background-size: cover;
    top: 0;
    left: 4.6875vw;
    z-index: 2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
    width: 100%;
    height: 62.5vw;

    .row {
        display: flex;
        flex-direction: row;
        gap: 6.5625vw;
        padding: 7.8vw 9.0625vw 0 2.0833vw;
        width: 67.7083vw;
        height: 32.8125vw;

        .column {
            display: flex;
            flex-direction: column;
            gap: 2.5vw;

            .text {
                width: 32.8125vw;
                display: flex;
                flex-direction: column;
                gap: 2.5vw;
                padding-top: 2.083vw;

                h1 {
                    font-size: 3.0208vw;
                    font-weight: 700;
                    line-height: 3.33vw;
                    text-align: left;
                    color: #FFFFFF;
                }

                p {
                    font-size: 0.833vw;
                    font-weight: 400;
                    line-height: 1.33vw;
                    text-align: left;
                    color: #FFFFFF;
                }

                span {
                    font-weight: 700;
                }
            }

            button {
                background: #FFFFFF;
                color: #2A2C32;
                padding: 1.0417vw 2.1875vw;
                font-size: 0.833vw;
                font-weight: 600;
                line-height: 1.1458vw;
                text-align: center;
                width: fit-content;
                border-radius: 0.4167vw;
            }
        }

        img {
            width: 16.67vw;
            height: 34.0104vw;
            padding-top: 1.25vw;
        }
    }

    .sponsors {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2.5vw;
        padding-top: 13.125vw;
        border-bottom: 0.0521vw solid #EEEEEE;
        img {
            width: 50vw;
            height: fit-content;
        }
    }
}

@media (max-width: 768px) {
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 320.6061vw;
        position: relative;
        overflow: hidden;
    }

    .gradient {
        position: absolute;
        width: 100vw;
        height: 233.8462vw;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #2A2C32 65%, #F9C9C4 100%);
        z-index: 1;
    }

    .background {
        position: absolute;
        width: 90vw;
        height: 254.3589vw;
        background: url('../../../../assets/icons/hero/HeroBackgroundMobile.png') no-repeat;
        background-size: cover;
        top: 0;
        left: 5vw;
        z-index: 2;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        z-index: 3;
        width: 100%;
        height: 320.6061vw;

        .row {
            display: flex;
            flex-direction: column;
            gap: 4.1026vw;
            padding: 0;
            margin: 0 auto;
            width: 85.5897vw;
            height: 87.6923vw;
            .column {
                display: flex;
                flex-direction: column;
                gap: 4.1026vw;
                .text {
                    width: 88vw;
                    display: flex;
                    flex-direction: column;
                    gap: 4.1026vw;
                    padding-top: 2.083vw;
                    h1 {
                        font-size: 9.2308vw;
                        font-weight: 700;
                        line-height: 11.2821vw;
                        text-align: center;
                        color: #FFFFFF;
                    }

                    p {
                        font-size: 4.1026vw;
                        font-weight: 400;
                        line-height: 6.5641vw;
                        text-align: center;
                        color: #FFFFFF;
                    }

                    span {
                        font-weight: 700;
                    }
                }

                button {
                    background: #FFFFFF;
                    color: #2A2C32;
                    padding: 3.5897vw 17.3077vw;
                    font-size: 4.1026vw;
                    font-weight: 600;
                    line-height: 5.641vw;
                    text-align: center;
                    width: fit-content;
                    border-radius: 2.0513vw;
                    align-self: center;
                }
            }

            img {
                width: 49.2308vw;
                height: 100.5128vw;
                margin-left: 7vw;
            }
        }

        .sponsors {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 0;
            padding-top: 148.9744vw;
            border-bottom: 0.2564vw solid #EEEEEE;
            img {
                width: 100vw;
                height: 42.5641vw;
            }
        }
    }
}