.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.box {
	width: 100%;
	background: #252525;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	gap: 45px;
	align-items: center;
	justify-content: center;
	img {
		user-select: none;
		pointer-events: none;
		width: 370px;
	}
	svg {
		width: 284px;
		height: 284px;
		color: #ffffff33;
	}
}
.main_container {
	display: flex;
	flex-direction: column;
	gap: 32px;
	align-items: center;
	justify-content: center;
	width: 536px;
	.title {
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: center;
		justify-content: center;
		h2 {
			font-size: 64px;
			font-weight: 700;
			line-height: 81.6px;
			text-align: center;
			color: #ffffff;
		}
		p {
			font-size: 24px;
			font-weight: 500;
			line-height: 32.78px;
			text-align: center;
			color: #ffffff99;
		}
	}
}

@media (max-width: 1600px) {
	.box {
		border-radius: 24px;
		gap: 35px;
		img {
			width: 310px;
		}
		svg {
			width: 214px;
			height: 214px;
		}
	}
	.main_container {
		gap: 24px;
		width: 436px;
		.title {
			gap: 12px;
			h2 {
				font-size: 52px;
				line-height: 60px;
			}
			p {
				font-size: 18px;
				line-height: 26px;
			}
		}
		.button {
			width: 535px;
			height: 60px;
			border-radius: 18px;
			font-size: 15px;
		}
	}
}

@media (max-width: 1300px) {
	.box {
		border-radius: 16px;
		gap: 25px;
		img {
			width: 250px;
		}
		svg {
			width: 164px;
			height: 164px;
		}
	}
	.main_container {
		gap: 16px;
		width: 336px;
		.title {
			gap: 8px;
			h2 {
				font-size: 40px;
				line-height: 50px;
			}
			p {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}

@media (max-width: 992px) {
	.box {
		border-radius: 16px;
		gap: 25px;
		img {
			width: 150px;
		}
		svg {
			width: 114px;
			height: 114px;
		}
	}
	.main_container {
		gap: 8px;
		width: 236px;
		.title {
			gap: 4px;
			h2 {
				font-size: 28px;
				line-height: 32px;
			}
			p {
				font-size: 10px;
				line-height: 16px;
			}
		}
	}
}

@media (max-width: 768px) {
	.box {
		border-radius: 6.4vw;
		gap: 0;
		flex-direction: column;
		padding: 6.4vw 4.26vw;
		img {
			width: 48.8vw;
		}
	}
	.main_container {
		gap: 6.4vw;
		width: 92vw;
		.title {
			padding-bottom: 2.1vw;
			gap: 4vw;
			h2 {
				font-size: 7.46vw;
				line-height: 9.6vw;
			}
			p {
				font-size: 4.26vw;
				line-height: 5.86vw;
			}
		}
	}
}
