.card {
	margin: 0 12px;
	border-radius: 24px;
	padding: 20px 22.5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	user-select: none;
	width: 429px;
	height: 681px;
	img {
		user-select: none;
		pointer-events: none;
	}
}

@media (max-width: 1600px) {
	.card {
		width: 343px;
		height: 537.45px;
	}
}

@media (max-width: 1300px) {
	.card {
		width: 251px;
		height: 384px;
	}
}

@media (max-width: 992px) {
	.card {
		width: 180px;
		height: 265px;
	}
}
