.base {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0.52vw 0;
	img {
		user-select: none;
		pointer-events: none;
	}
	.main_container {
		display: flex;
		flex-direction: row;
		gap: 0.83vw;
		.left {
			display: flex;
			flex-direction: column;
			gap: 2.97vw;
			background: #f7f7f9;
			border-radius: 1.67vw;
			width: 35vw;
			height: 35vw;
			padding: 1.67vw 1.67vw 0 1.67vw;
			.left_head {
				display: flex;
				flex-direction: column;
				gap: 0.83vw;
				.hrow {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				}
				h2 {
					font-size: 1.67vw;
					font-weight: 700;
					line-height: 1.67vw;
					text-align: left;
					color: #0e131f;
				}
				p {
					font-size: 1.04vw;
					font-weight: 400;
					line-height: 1.04vw;
					text-align: left;
					color: #747474;
				}
				.line {
					height: 0.49vw;
					width: 100%;
					background: #00000017;
				}
			}
			.image {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 1.09vw;
				position: relative;
				.phone {
					img {
						user-select: none;
						pointer-events: none;
						width: 26.51vw;
					}
				}
			}
			&:hover {
				.circle {
					background: #29a9ea;
					svg {
						color: #ffffff;
					}
				}
			}
		}
		.right {
			width: 35vw;
			height: 35vw;
			.up {
				height: 17.08vw;
				width: 17.19vw;
				background: #f7f7f9;
				border-radius: 1.67vw;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				overflow: hidden;
				position: relative;
				.circle {
					position: absolute;
					bottom: 1.09vw;
					left: 1.09vw;
				}
				img {
					transition: margin-bottom 0.5s;
					margin-left: 1.25vw;
					margin-bottom: -17.55vw;
					width: 14.48vw;
				}
				&:hover {
					img {
						margin-bottom: -13.54vw;
					}
					.circle {
						background: #29a9ea;
						svg {
							color: #ffffff;
						}
					}
				}
			}
			.bottom {
				height: 17.08vw;
				width: 17.18vw;
				border-radius: 1.67vw;
				background: #f7f7f9;
				padding: 1.35vw 0.73vw;
				display: flex;
				align-items: flex-start;
				justify-content: flex-end;
				.calendar {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 15.73vw;
					height: 14.167vw;
				}
			}
			.rleft {
				height: 35vw;
				width: 17.18vw;
				background: #f7f7f9;
				border-radius: 1.67vw;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-end;
				padding: 0.83vw;
				overflow: hidden;
				&:hover {
					img {
						margin-left: 0.42vw;
						rotate: 0grad;
					}
					.circle {
						background: #29a9ea;
						svg {
							color: #ffffff;
						}
					}
				}
				img {
					transition:
						rotate 0.5s,
						margin-left 0.5s;
					margin-left: 3.65vw;
					rotate: -10grad;
					width: 14.67vw;
				}
			}
		}
	}
}

.column {
	display: flex;
	flex-direction: column;
	gap: 0.83vw;
}
.row {
	display: flex;
	flex-direction: row;
	gap: 0.83vw;
}

.circle {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: #ffffff80;
	z-index: 2;
	width: 1.875vw;
	height: 1.875vw;
	border: 0.105vw solid #dedee0;
	transition: background 0.5s;
	svg {
		transition: color 0.5s;
		width: 1.25vw;
		height: 1.25vw;
		color: #747474;
	}
}
