.wrapper {
	margin: 0 25vw;
	p {
		padding-top: 10vh;
		font-size: 14px;
		margin-bottom: 15px;
		color: #919bb6;
	}
	.container {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 250px;
		gap: 20px;
		.box {
			display: flex;
			flex-direction: column;
			h1 {
				font-weight: 700;
				font-size: 18px;
				line-height: 28px;
				color: #333333;
				margin-bottom: 10px;
				user-select: none;
				padding: 5px 5px 5px 0;
				&:hover {
					color: #3761e9;
					transition: color 0.3s ease-out;
				}
			}

			h2 {
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				text-align: left;
				color: #55555a;
				padding: 5px 5px 5px 0;
				margin-bottom: 5px;
				user-select: none;
				&:hover {
					color: #919bb6;
					transition: color 0.3s ease-out;
				}
			}

			h3 {
				font-size: calc((1vw + 1vh) * 1.2);
				font-weight: 900;
				line-height: calc((1vw + 1vh) * 1);
				text-align: left;
				box-sizing: border-box;
				margin-bottom: 1vh;
			}

			h4 {
				font-size: calc((1vw + 1vh) * 0.65);
				font-weight: 300;
				line-height: calc((1vw + 1vh) * 1);
				text-align: left;
				box-sizing: border-box;
				margin-bottom: 5vh;
				span {
					font-weight: 900;
				}
			}
		}
	}
}

.infobox {
	.altp {
		text-align: left;
		padding: 10vh 5vw 5vh;
		font-size: 16px;
	}
	.textbox {
		width: 60vw;
		margin: 0 20vw;
		display: flex;
		align-self: center;
		flex-direction: column;
		gap: 5px;
		h1 {
			margin-bottom: 20px;
			font-weight: 700;
			font-size: 18px;
			line-height: 28px;
			color: #333333;
			user-select: none;
		}
		li,
		p {
			font-size: 16px;
			font-weight: 400;
			line-height: 20px;
			text-align: left;
			color: #55555a;
			margin-bottom: 5px;
		}
	}
}

@media (max-width: 440px) {
	.wrapper {
		margin: 0 auto;
		max-width: 390px;
		p {
			padding-top: 15vh;
		}
		.container {
			gap: 10px;
			.box {
				h1 {
					font-size: 15px;
					line-height: 20px;
				}
				h2 {
					font-size: 13px;
					line-height: 12px;
				}
			}
		}
	}
	.infobox {
		.altp {
			padding-top: 13vh;
		}
		.textbox {
			width: auto;
			margin: 0 5vw;
			h1 {
				font-size: 15px;
				line-height: 20px;
				margin-bottom: 10px;
			}
			p {
				font-size: 13px;
				line-height: 12px;
			}
			li {
				font-size: 13px;
				line-height: 12px;
			}
		}
	}
}
