.base {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	width: 100%;
	gap: 1.67vw;
	height: 123.49vw;
	.circle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.33vw;
		height: 3.33vw;
		border-radius: 100%;
		background: #ffffff80;
		border: 0.21vw solid #dedee0;
		transition: background 0.5s;
		svg {
			transition: color 0.5s;
			width: 2.08vw;
			height: 2.08vw;
			color: #747474;
		}
	}
	.main_container {
		display: flex;
		flex-direction: row;
		gap: 0.83vw;
		.left {
			display: flex;
			flex-direction: column;
			gap: 1.67vw;
			background: #f7f7f9;
			border-radius: 1.67vw;
			width: 35vw;
			height: 35vw;
			padding: 1.67vw 1.67vw 0 1.67vw;
			.left_head {
				display: flex;
				flex-direction: column;
				gap: 0.83vw;
				.hrow {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				}
				h2 {
					font-size: 1.67vw;
					font-weight: 800;
					line-height: 1.67vw;
					text-align: left;
					color: #0e131f;
				}
				p {
					font-size: 1.04vw;
					font-weight: 400;
					line-height: 1.04vw;
					text-align: left;
					color: #747474;
				}
				.line {
					height: 0.49vw;
					width: 100%;
					background: #00000017;
				}
			}
			.image {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 1.09vw;
				position: relative;
				.phone {
					img {
						user-select: none;
						pointer-events: none;
						width: 17.34vw;
					}
				}
				.click {
					position: absolute;
					bottom: -2.19vw;
					left: 1.77vw;
					img {
						width: 14.68vw;
						height: 14.68vw;
					}
				}
			}
			&:hover {
				.circle {
					background: #29a9ea;
					svg {
						color: #ffffff;
					}
				}
			}
		}
		.right {
			display: flex;
			flex-direction: column;
			gap: 0.83vw;
			width: 35.21vw;
			height: 35vw;
			background: #ffffff;
			.right_head {
				display: flex;
				flex-direction: row;
				gap: 1.15vw;
				padding: 2.6vw 2.6vw 2.395vw 2.71vw;
				height: 17.08vw;
				background: #f7f7f9;
				border-radius: 1.67vw;
				position: relative;
				transition: background 0.5s;
				.text {
					display: flex;
					flex-direction: column;
					gap: 0.83vw;
					h3 {
						transition: color 0.5s;
						font-size: 1.66vw;
						font-weight: 800;
						line-height: 2.29vw;
						text-align: left;
						color: #0e131f;
						letter-spacing: -0.031vw;
					}
					p {
						transition: color 0.5s;
						font-size: 0.93vw;
						font-weight: 500;
						line-height: 1.46vw;
						letter-spacing: -0.021vw;
						text-align: left;
						color: #535764;
					}
				}
				svg {
					width: 4.25vw;
					height: 3.51vw;
					color: #29a9ea;
					transition: color 0.5s;
				}
				.circle {
					position: absolute;
					bottom: 0.83vw;
					left: 0.83vw;
					width: 1.875vw;
					height: 1.875vw;
					border: 0.105vw solid #dedee0;
					z-index: 2;
					svg {
						width: 1.25vw;
						height: 1.25vw;
						color: #747474;
					}
				}
				&:hover {
					background: #29a9ea;
					.text {
						h3 {
							color: #ffffff;
						}
						p {
							color: #ffffff;
						}
					}
					svg {
						color: #ffffff;
					}
					.circle {
						background: #ffffff;
						svg {
							color: #747474;
						}
					}
				}
			}
			.row {
				display: flex;
				flex-direction: row;
				gap: 0.83vw;
				.circle {
					width: 1.875vw;
					height: 1.875vw;
					border: 0.105vw solid #dedee0;
					z-index: 2;
					svg {
						width: 1.25vw;
						height: 1.25vw;
					}
				}
				.telegram_block {
					width: 17.19vw;
					height: 17.08vw;
					background: #f7f7f9;
					border-radius: 1.67vw;
					position: relative;
					padding: 1.09vw;
					display: flex;
					flex-direction: row;
					gap: 0.73vw;
					align-items: flex-end;
					justify-content: flex-start;
					p {
						font-size: 0.78vw;
						font-weight: 600;
						line-height: 1.875vw;
						letter-spacing: 0.02vw;
						text-align: center;
						color: #44b4ed;
						width: 9.11vw;
					}
					img {
						position: absolute;
						top: 1.3vw;
						left: 0;
						width: 16vw;
					}
					&:hover {
						.circle {
							background: #29a9ea;
							svg {
								color: #ffffff;
							}
						}
					}
				}
				.phone_block {
					width: 17.19vw;
					height: 17.08vw;
					background: #f7f7f9;
					border-radius: 1.67vw;
					display: flex;
					flex-direction: row;
					gap: 0.73vw;
					align-items: flex-end;
					justify-content: flex-start;
					overflow: hidden;
					position: relative;
					.circle {
						position: absolute;
						bottom: 1.09vw;
						left: 1.09vw;
					}
					img {
						transition: margin-bottom 0.5s;
						margin-left: 1.25vw;
						margin-bottom: -17.55vw;
						width: 14.69vw;
					}
					&:hover {
						img {
							margin-bottom: -13.54vw;
						}
						.circle {
							background: #29a9ea;
							svg {
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
}
