.base {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	width: 100%;
	gap: 1.67vw;
	img {
		user-select: none;
		pointer-events: none;
	}
	.circle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 3.33vw;
		height: 3.33vw;
		border-radius: 100%;
		background: #ffffff80;
		border: 0.21vw solid #dedee0;
		transition: background 0.5s;
		svg {
			transition: color 0.5s;
			width: 2.08vw;
			height: 2.08vw;
			color: #747474;
		}
	}
	.up_text {
		display: flex;
		flex-direction: row;
		align-self: flex-start;
		padding-left: 14.27vw;
		gap: 3.9583vw;
		margin-top: 5vw;
		svg {
			width: 4.25vw;
			height: 3.51vw;
			color: #29a9ea;
			transition: color 0.5s;
			margin-top: 0.5208vw;
		}
		h2 {
			font-size: 2.083vw;
			font-weight: 800;
			line-height: 2.5vw;
			letter-spacing: -0.03125vw;
			text-align: left;
			color: #000000;
		}
		p {
			font-size: 0.78125vw;
			font-weight: 400;
			line-height: 1.25vw;
			text-align: left;
			color: #535764;
		}
	}
	.main_container {
		display: flex;
		flex-direction: row;
		gap: 1.25vw;
		.left {
			display: flex;
			flex-direction: column;
			gap: 1.67vw;
			background: url('../../../../assets/icons/recording/RecordingLeftBackground.png')
				no-repeat;
			background-size: cover;
			border-radius: 1.25vw;
			width: 35vw;
			height: 39.0625vw;
			padding: 1.67vw 1.67vw 0 1.67vw;
			overflow: hidden;
			.image {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 1.09vw;
				position: relative;
				margin-top: 9vw;
				transition: margin-top 0.5s;
				.phone {
					img {
						user-select: none;
						pointer-events: none;
						width: 21.3542vw;
					}
				}
				.click {
					position: absolute;
					bottom: 8vw;
					left: 0;
					img {
						width: 14.68vw;
						height: 14.68vw;
					}
				}
			}
			&:hover {
				.image {
					margin-top: 2vw;
				}
			}
		}
		.right {
			display: flex;
			flex-direction: column;
			gap: 6.458vw;
			width: 35vw;
			height: 39.0625vw;
			background: #2997ff;
			border-radius: 1.25vw;
			padding: 2.604vw;
			transition: background 0.5s;
			.right_head {
				display: flex;
				flex-direction: row;
				gap: 1.771vw;
				border-radius: 1.67vw;
				position: relative;
				.text {
					display: flex;
					flex-direction: column;
					gap: 0.83vw;
					h3 {
						transition: color 0.5s;
						font-size: 1.67vw;
						font-weight: 700;
						line-height: 2.083vw;
						text-align: left;
						color: #ffffff;
						letter-spacing: -0.031vw;
					}
					p {
						transition: color 0.5s;
						font-size: 1.042vw;
						font-weight: 500;
						line-height: 1.46vw;
						letter-spacing: -0.021vw;
						text-align: left;
						color: #ffffff;
					}
				}
				svg {
					width: 4.25vw;
					height: 3.51vw;
					color: #ffffff;
					transition: color 0.5s;
				}
				img {
					width: 3.33vw;
					height: 3.33vw;
				}
				.circle {
					position: absolute;
					bottom: 0.83vw;
					left: 0.83vw;
					width: 1.875vw;
					height: 1.875vw;
					border: 0.105vw solid #dedee0;
					z-index: 2;
					svg {
						width: 1.25vw;
						height: 1.25vw;
						color: #747474;
					}
				}
			}
			.telegram_block {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				svg {
					transition: color 0.5s;
					width: 23.802vw;
					height: 11.146vw;
					color: #ffffff;
				}
				p {
					top: 2.08vw;
					left: 9.5vw;
					transition: color 0.5s;
					font-size: 1.09375vw;
					font-weight: 500;
					line-height: 1.5625vw;
					text-align: left;
					color: #0e131f;
					position: absolute;
				}
			}
			&:hover {
				background: #f2f2f8;
				.right_head {
					.text {
						h3 {
							color: #000000;
						}
						p {
							color: #000000;
						}
					}
					svg {
						color: #2997ff;
					}
				}
				.telegram_block {
					p {
						color: #ffffff;
					}
					svg {
						color: #2997ff;
					}
				}
			}
			.row {
				display: flex;
				flex-direction: row;
				gap: 0.83vw;
				.circle {
					width: 1.875vw;
					height: 1.875vw;
					border: 0.105vw solid #dedee0;
					z-index: 2;
					svg {
						width: 1.25vw;
						height: 1.25vw;
					}
				}
				.phone_block {
					width: 17.19vw;
					height: 17.08vw;
					background: #f7f7f9;
					border-radius: 1.67vw;
					display: flex;
					flex-direction: row;
					gap: 0.73vw;
					align-items: flex-end;
					justify-content: flex-start;
					overflow: hidden;
					position: relative;
					.circle {
						position: absolute;
						bottom: 1.09vw;
						left: 1.09vw;
					}
					img {
						transition: margin-bottom 0.5s;
						margin-left: 1.25vw;
						margin-bottom: -17.55vw;
						width: 14.69vw;
					}
					&:hover {
						img {
							margin-bottom: -13.54vw;
						}
						.circle {
							background: #29a9ea;
							svg {
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
}
