.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.main_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: center;
	h2 {
		font-size: 64px;
		font-weight: 700;
		line-height: 82px;
		text-align: center;
		color: #161616;
	}
	.grid {
		display: flex;
		flex-direction: column;
		gap: 32px;
		width: 100%;
		.card {
			background: #246bfd;
			border-radius: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			p {
				font-size: 32px;
				font-weight: 700;
				line-height: 43.71px;
				text-align: center;
				color: white;
			}
			&:nth-child(1) {
				background: #246bfd;
				p {
					color: white;
				}
			}
			&:nth-child(2) {
				background: #f6f6f6;
				p {
					color: #000000;
				}
			}
			&:nth-child(3) {
				background: #f6f6f6;
				p {
					color: #000000;
				}
			}
		}
		.grid_1 {
			display: flex;
			flex-direction: row;
			height: 250px;
			gap: 64px;
			.card {
				width: 454px;
				p {
					width: 340px;
				}
			}
		}
		.grid_2 {
			display: flex;
			flex-direction: row-reverse;
			height: 210px;
			gap: 64px;
			.card {
				width: 708px;
				p {
					width: 644px;
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.main_container {
		gap: 40px;
		h2 {
			font-size: 50px;
			line-height: 66px;
		}
		.grid {
			gap: 28px;
			.card {
				border-radius: 20px;
				p {
					font-size: 26px;
					line-height: 30px;
				}
			}
			.grid_1 {
				height: 200px;
				gap: 56px;
				.card {
					width: 454px;
					p {
						width: 270px;
					}
				}
			}
			.grid_2 {
				height: 170px;
				gap: 56px;
				.card {
					width: 708px;
					p {
						width: 500px;
					}
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.main_container {
		gap: 30px;
		h2 {
			font-size: 38px;
			line-height: 44px;
		}
		.grid {
			gap: 22px;
			.card {
				border-radius: 16px;
				p {
					font-size: 18px;
					line-height: 26px;
				}
			}
			.grid_1 {
				height: 150px;
				gap: 48px;
				.card {
					width: 454px;
					p {
						width: 180px;
					}
				}
			}
			.grid_2 {
				height: 120px;
				gap: 48px;
				.card {
					width: 708px;
					p {
						width: 350px;
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.main_container {
		gap: 20px;
		h2 {
			font-size: 25px;
			line-height: 32px;
		}
		.grid {
			gap: 16px;
			.card {
				border-radius: 12px;
				p {
					font-size: 12px;
					line-height: 18px;
				}
			}
			.grid_1 {
				height: 100px;
				gap: 30px;
				.card {
					width: 454px;
					p {
						width: 130px;
					}
				}
			}
			.grid_2 {
				height: 70px;
				gap: 30px;
				.card {
					width: 708px;
					p {
						width: 250px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.main_container {
		gap: 6.4vw;
		h2 {
			font-size: 7.46vw;
			line-height: 10.93vw;
		}
		.grid {
			gap: 8.53vw;
			width: 92vw;
			.card {
				border-radius: 6.4vw;
				min-height: 34.6vw;
				p {
					font-size: 6.4vw;
					line-height: 8.53vw;
				}
			}
			.grid_1 {
				display: flex;
				flex-direction: column;
				height: 120.86vw;
				gap: 8.53vw;
				.card {
					width: 92vw;
					p {
						width: 92vw;
					}
				}
			}
			.grid_2 {
				display: flex;
				flex-direction: column;
				gap: 8.53vw;
				height: 77.73vw;
				.card {
					width: 92vw;
					p {
						width: 92vw;
					}
				}
			}
		}
	}
}
