.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.main_container {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 19px;
	align-items: center;
	position: relative;
	.text {
		display: flex;
		flex-direction: column;
		gap: 48px;
		align-items: flex-start;
		justify-content: center;
		h2 {
			font-size: 64px;
			font-weight: 700;
			line-height: 82px;
			text-align: left;
			color: #161616;
		}
		span {
			color: #16161666;
		}
		p {
			width: 977px;
			font-size: 30px;
			font-weight: 600;
			line-height: 44px;
			text-align: left;
			color: #161616;
		}
	}
	img {
		width: 375px;
		box-shadow: 0px 8px 16px 0px #33333333;
		border-radius: 28px;
	}
}

@media (max-width: 1600px) {
	.main_container {
		gap: 16px;
		.text {
			gap: 40px;
			h2 {
				font-size: 52px;
				line-height: 60px;
			}
			p {
				width: 800px;
				font-size: 24px;
				line-height: 30px;
			}
		}
		img {
			width: 300px;
			box-shadow: 0px 8px 16px 0px #33333333;
			border-radius: 24px;
		}
	}
}

@media (max-width: 1300px) {
	.main_container {
		gap: 13px;
		.text {
			gap: 30px;
			h2 {
				font-size: 38px;
				line-height: 50px;
			}
			p {
				width: 600px;
				font-size: 18px;
				line-height: 26px;
			}
		}
		img {
			width: 225px;
			box-shadow: 0px 8px 16px 0px #33333333;
			border-radius: 20px;
		}
	}
}

@media (max-width: 992px) {
	.main_container {
		gap: 10px;
		.text {
			gap: 20px;
			h2 {
				font-size: 25px;
				line-height: 36px;
			}
			p {
				width: 400px;
				font-size: 12px;
				line-height: 20px;
			}
		}
		img {
			width: 150px;
			box-shadow: 0px 8px 16px 0px #33333333;
			border-radius: 16px;
		}
	}
}

@media (max-width: 768px) {
	.main_container {
		display: flex;
		flex-direction: column-reverse;
		gap: 6.4vw;
		.text {
			flex-direction: column;
			gap: 4.26vw;
			align-items: center;
			justify-content: center;
			h2 {
				font-size: 6.8vw;
				line-height: 8.26vw;
			}
			p {
				width: 92vw;
				font-size: 4.1vw;
				line-height: 5.86vw;
			}
		}
		img {
			width: 51.73vw;
			box-shadow: 0px 2.13vw 4.26vw 0px #33333333;
			border-radius: 7.46vw;
		}
	}
}
