.fuck {
	//@apply grid items-center w-fit ml-auto gap-8 grid-cols-2;
	//grid-template-columns: 1fr fit-content(100%);
	//margin-right: 100px;
	//max-width: 1450px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left {
	@apply z-1 flex flex-col h-[360px] justify-between;
	flex: 0 0 45%;

	.head {
		@apply flex flex-col gap-[20px];
		h1 {
			font-size: calc((1vw + 1vh) * 2);
			line-height: calc((1vw + 1vh) * 2);
			@apply font-bold;
		}
		h4 {
			@apply text-[18px] font-semibold;
		}
	}
}
.right {
	@apply air-block;
	flex: 1;
	width: 100%;
	margin-left: auto;
	img {
		position: absolute;
		width: 150% !important;
		max-width: 200%;
	}
}

.form {
	@apply flex w-full relative gap-[32px];
	input {
		@apply w-full pl-6 text-lg h-[72px] border-2 border-gray-border rounded-lg opacity-50;
		&::placeholder {
			@apply text-lg;
		}
	}
	button {
		@apply top-1/2 right-2 absolute bg-primary text-white font-semibold text-base px-7 py-[14px] rounded-[12px];
		transform: translateY(-50%);
	}
}
@media (max-width: 1240px) {
	.fuck {
		@apply overflow-x-hidden;
	}
}
@media (max-width: 990px) {
	.form {
		@apply flex w-full relative gap-[12px];
		input {
			@apply w-full pl-6 text-sm h-[42px] border-2 border-gray-border rounded-lg opacity-50;
			&::placeholder {
				@apply text-sm;
			}
		}
		button {
			@apply top-1/2 right-2 text-sm absolute bg-primary text-white font-semibold  px-3 py-[2px] rounded-[8px];
			transform: translateY(-50%);
		}
	}
}
@media (max-width: 768px) {
	.fuck {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.left {
		flex: 1;
		width: 100%;
		gap: 20px;
		.head {
			h1 {
				font-size: 30px;
				line-height: normal;
				@apply font-bold w-[90%];
			}
			h4 {
				@apply text-[14px] font-semibold;
			}
		}
	}

	.right {
		flex: 1;
		img {
			width: 100%;
		}
	}
}

@media (max-width: 400px) {
	.form {
		button {
			@apply top-1/2 right-2 text-sm absolute bg-primary text-white font-medium  px-1 py-[1px] rounded-[8px];
			transform: translateY(-50%);
		}
	}
}

@media (min-width: 2300px) {
	.left {
		flex: 1;
		width: 100%;
		gap: 20px;
		.head {
			h1 {
				font-size: 55px;
				line-height: normal;
				@apply font-bold w-[90%];
			}
		}
	}
}
