.base {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 71.04vw;
	margin-bottom: -1.25vw;
	.text {
		display: flex;
		flex-direction: column;
		gap: 0.83vw;
		margin-top: 6.667vw;
		margin-bottom: 1.25vw;
		p {
			font-size: 2.08vw;
			font-weight: 800;
			line-height: 2.5vw;
			letter-spacing: -0.03125vw;
			text-align: left;
			color: #000000;
		}
		span {
			font-size: 0.78125vw;
			font-weight: 500;
			line-height: 1.25vw;
			text-align: left;
			color: #535764;
		}
	}
	.main_container {
		width: 100%;
		height: 28.33vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.card {
			display: flex;
			flex-direction: column;
			gap: 0.52vw;
			justify-content: flex-start;
			align-items: flex-start;
			width: 23.07vw;
			height: 25.52vw;
			background: #09101c4d;
			border-radius: 1.25vw;
			padding: 1.67vw;
			position: relative;
			.text {
				display: flex;
				flex-direction: column;
				gap: 0.89vw;
				margin: 0;
				p {
					margin: 0;
					font-size: 1.67vw;
					font-weight: 600;
					line-height: 2.1875vw;
					text-align: left;
					color: #ffffff;
				}
				span {
					font-size: 0.78125vw;
					font-weight: 500;
					line-height: 1.04vw;
					text-align: left;
					color: #ffffff;
				}
			}
			.num {
				position: absolute;
				bottom: 0;
				right: 1.41vw;
				user-select: none;
				p {
					margin: 0;
					font-size: 11.89vw;
					font-weight: 600;
					line-height: 11.51vw;
					text-align: right;
					color: #ffffff;
				}
			}
			button {
				font-size: 0.78vw;
				font-weight: 600;
				line-height: 1.35vw;
				text-align: left;
				color: #fe803c;
			}
			&:nth-child(2) {
				background: #09101c80;
				position: relative;
			}
			&:nth-child(3) {
				background: #09101c;
				p {
					color: #ffffff;
				}
				span {
					color: #ffffff;
				}
			}
		}
	}
}

.circle {
	position: absolute;
	right: 16.17vw;
	top: 2.5vw;
	width: 14.53vw;
	height: 14.53vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: url('../../../../assets/icons/Circle.png') no-repeat;
	background-size: cover;
}
