.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.modal {
	z-index: 3;
	background: #f6f6f6;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	padding: 48px 64px;
	border-radius: 40px;
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
	letter-spacing: 0.03em;
	text-align: left;
	p {
		padding: 8px 0 24px;
	}
	.title {
		padding: 0;
		font-size: 48px;
		font-weight: 700;
		line-height: 61px;
		text-align: left;
	}
	button {
		transition: 0.5s ease;
		@apply hover:text-text;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 664px;
		height: 81px;
		border-radius: 24px;
		background: #ff7f41;
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
		color: #ffffff;
		user-select: none;
		&:hover {
			background: #dd6139;
			color: white;
		}
		&:active {
			@apply bg-text bg-opacity-30;
		}
		.arrow {
			display: flex;
			flex-direction: row;
			gap: 10px;
			justify-content: center;
			align-items: center;
		}
	}
}
