@font-face {
	font-family: 'Onest';
	src:
		local('Onest'),
		url('../assets/fonts/onest-medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Onest';
	src:
		local('Onest'),
		url('../assets/fonts/onest-semibold.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'Onest';
	src:
		local('Onest'),
		url('../assets/fonts/onest-bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope'),
		url('../assets/fonts/manrope-medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope'),
		url('../assets/fonts/manrope-semibold.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'Manrope';
	src:
		local('Manrope'),
		url('../assets/fonts/manrope-bold.ttf') format('truetype');
	font-weight: 700;
}
