.base {
	margin: 0 2.08vw 0 0;
	user-select: none;
	pointer-events: none;
	.card {
		width: 17.19vw;
		height: 17.19vw;
		border-radius: 1.67vw;
		padding: 2.08vw 0 1.04vw 1.56vw;
		border: 0.3125vw solid #ededed;
		.icon {
			width: 3.4375vw;
			height: 3.4375vw;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #f9f8f848;
			border-radius: 0.625vw;
			margin-bottom: 1.56vw;
			svg {
				width: 2.81vw;
				height: 2.81vw;
				color: #ffffff;
			}
		}
		.image {
			img {
				width: 9.9vw;
				height: 3.65vw;
			}
		}
		p {
			font-size: 1.04vw;
			font-weight: 600;
			line-height: 1.25vw;
			text-align: left;
			color: #ffffff;
			margin-bottom: 0.42vw;
			height: 2.5vw;
		}
	}
}
.card0 {
	background: #bac0f8;
}
.card1 {
	background: #2d2d34;
}
.card2 {
	background: #6bbbed;
}
.card3 {
	background: #ce92ef;
}
.card4 {
	background: #eb9f7a;
}
.card5 {
	background: #d9d5b5;
}
.card6 {
	background: #7d8570;
}
.card7 {
	background: #a6dcfc;
}
.card8 {
	background: #022b3a;
}
.card9 {
	background: #6bbbed;
}
