.wrapper {
	@apply flex flex-col;
	gap: 180px;
	max-width: 1480px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

@media (max-width: 1600px) {
	.wrapper {
		max-width: 1200px;
		gap: 140px;
	}
}

@media (max-width: 1300px) {
	.wrapper {
		max-width: 900px;
		gap: 100px;
	}
}

@media (max-width: 992px) {
	.wrapper {
		max-width: 600px;
		gap: 60px;
	}
}
