.fuck {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	flex-direction: column;
	margin: 64px auto 0 auto;
	background: #246bfd;
	border-radius: 25px;
	height: 920px;
	h1 {
		font-size: 36px;
		font-weight: 700;
		line-height: 40px;
		letter-spacing: 0;
		text-align: center;
		color: #ffffff;
		margin: 32px auto 64px auto;
	}
}
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 56px;
	align-self: center;
	margin-bottom: 64px;
	.card {
		height: 332px;
		width: 336px;
		background: white;
		border-radius: 25px;
		padding: 32px;
		position: relative;
		h2 {
			font-size: 24px;
			font-weight: 600;
			line-height: 28px;
			letter-spacing: 0;
			text-align: left;
		}
		p {
			margin-top: 16px;
			font-size: 20px;
			font-weight: 400;
			line-height: 23px;
			letter-spacing: 0;
			text-align: left;
		}
		h3 {
			position: absolute;
			font-size: 128px;
			font-weight: 600;
			line-height: 150px;
			letter-spacing: 0;
			text-align: right;
			color: #ff7f41;
			bottom: 32px;
			right: 32px;
		}
	}
}

@media (max-width: 440px) {
	.buttonContainer {
		display: none;
	}
	.fuck {
		height: 700px;
		margin-top: 32px;
		h1{
			font-size: 20px;
			margin: 16px auto 32px auto;
		}
	}
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		.card {
			height: 180px;
			width: 180px;
			padding: 10px 15px;
			h2{
				font-size: 15px;
				line-height: 18px;
			}
			p{
				margin-top: 5px;
				font-size: 12px;
				line-height: 12px;
				width: 90px;
			}
			h3 {
				font-size: 100px;
				bottom: -20px;
				right: 20px;
			}
		}
	}
}
