.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main_container {
	display: flex;
	flex-direction: column;
	gap: 64px;
	align-items: center;
	justify-content: center;
	padding: 0 14px;

	.title {
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;
		justify-content: center;

		h2 {
			font-size: 64px;
			font-weight: 700;
			line-height: 82px;
			text-align: left;
			color: #000000;
		}
	}

	.column {
		display: flex;
		flex-direction: column;
		gap: 24px;
		.row {
			display: flex;
			flex-direction: row;
			gap: 25px;
			&:first-child {
				.card {
					&:first-child {
						.title {
							display: flex;
							gap: 0;
							align-items: flex-start;
							width: 497px;
						}
					}
				}
			}

			&:nth-child(2) {
				.card {
					&:nth-child(2) {
						.description {
							width: 604px;
						}
					}
				}
			}

			.card {
				display: flex;
				flex-direction: column;
				gap: 24px;
				align-items: flex-start;
				justify-content: flex-start;
				width: 727px;
				height: 386px;
				border-radius: 24px;
				padding-left: 24px;
				background: #f6f6f6;
				padding-top: 21px;
				.title {
					display: block;
					font-size: 48px;
					font-weight: 800;
					line-height: 66px;
					text-align: left;
					color: #000000;

					span {
						color: #00000099;
					}
				}
				.description {
					width: 630px;
					font-size: 24px;
					font-weight: 600;
					line-height: 33px;
					text-align: left;
					color: #00000099;
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.main_container {
		gap: 48px;
		padding: 0 14px;

		.title {
			gap: 24px;

			h2 {
				font-size: 48px;
				line-height: 55px;
			}
		}

		.column {
			gap: 20px;
			.row {
				gap: 22px;
				&:first-child {
					.card {
						&:first-child {
							.title {
								gap: 0;
								width: 450px;
							}
						}
					}
				}

				&:nth-child(2) {
					.card {
						&:nth-child(2) {
							.description {
								width: 500px;
							}
						}
					}
				}

				.card {
					gap: 18px;
					width: 589px;
					height: 312px;
					border-radius: 24px;
					padding-left: 20px;
					padding-top: 17px;
					svg {
						width: 50px;
						height: 50px;
					}
					.title {
						font-size: 38px;
						line-height: 45px;
					}
					.description {
						width: 530px;
						font-size: 20px;
						line-height: 33px;
					}
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.main_container {
		gap: 32px;
		padding: 0 12px;

		.title {
			gap: 20px;

			h2 {
				font-size: 36px;
				line-height: 44px;
			}
		}

		.column {
			gap: 20px;
			.row {
				gap: 18px;
				&:first-child {
					.card {
						&:first-child {
							.title {
								gap: 0;
								width: 400px;
							}
						}
					}
				}

				&:nth-child(2) {
					.card {
						&:nth-child(2) {
							.description {
								width: 370px;
							}
						}
					}
				}

				.card {
					gap: 12px;
					width: 441px;
					height: 217px;
					border-radius: 20px;
					padding-left: 16px;
					padding-top: 13px;
					svg {
						width: 35px;
						height: 35px;
					}
					.title {
						font-size: 28px;
						line-height: 32px;
					}
					.description {
						width: 400px;
						font-size: 15px;
						line-height: 22px;
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.main_container {
		gap: 32px;
		padding: 0 12px;

		.title {
			gap: 18px;

			h2 {
				font-size: 24px;
				line-height: 28px;
			}
		}

		.column {
			gap: 18px;
			.row {
				gap: 12px;
				&:first-child {
					.card {
						&:first-child {
							.title {
								gap: 0;
								width: 200px;
							}
						}
					}
				}

				&:nth-child(2) {
					.card {
						&:nth-child(2) {
							.description {
								width: 220px;
							}
						}
					}
				}

				.card {
					gap: 8px;
					width: 294px;
					height: 144px;
					border-radius: 20px;
					padding-left: 12px;
					padding-top: 9px;
					svg {
						width: 25px;
						height: 25px;
					}
					.title {
						font-size: 18px;
						line-height: 24px;
					}
					.description {
						width: 240px;
						font-size: 9px;
						line-height: 13px;
					}
				}
			}
		}
	}
}
