.wrapper {
	@apply flex flex-col;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background: #ffffff;
	height: 100vh;
	gap: 1.0417vw;
	align-items: center;
}

.up {
	height: 6.9792vw;
	width: 100%;
	top: 0;
	left: 0;
	background: #2a2c32;
}

.block {
	background: #ffffff;
	border-radius: 1.25vw;
	margin: 0.21vw;
}

.card {
	width: 85vw;
	height: 10vw;
	border-radius: 2.6041vw;
	border: 0.0521vw solid #0ba3ad;
	padding: 1.0417vw;
}

@media (max-width: 768px) {
	.block {
		margin: 0;
		border-radius: 6.1538vw;
	}
}
