.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main_container {
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: center;
	justify-content: center;
	.title {
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;
		justify-content: center;
		h2 {
			font-size: 80px;
			font-weight: 700;
			line-height: 102px;
			text-align: left;
			color: #161616;
		}
	}

	.row {
		display: flex;
		flex-direction: row;
		gap: 24px;
		.card {
			border-radius: 40px;
			background: #f6f6f6;
			width: 728px;
			padding: 24px 0 0 48px;
			img {
				user-select: none;
				pointer-events: none;
			}
			.text {
				display: flex;
				flex-direction: column;
				gap: 10px;
				align-items: flex-start;
				p {
					font-size: 20px;
					font-weight: 500;
					line-height: 27px;
					text-align: left;
					color: #00000099;
					span {
						color: #246bfd;
					}
				}
				.title {
					font-size: 48px;
					font-weight: 700;
					line-height: 66px;
					text-align: left;
					color: #161616;
				}
			}
			.recording {
				height: 683px;
				display: flex;
				flex-direction: column;
				gap: 48px;
				img {
					width: 643px;
				}
				.text {
					width: 477px;
				}
			}
			.journal {
				height: fit-content;
				display: flex;
				flex-direction: column;
				gap: 24px;
				img {
					width: 592px;
				}
				.text {
					width: 573px;
				}
			}
			.taskbook {
				height: 556px;
				display: flex;
				flex-direction: column;
				gap: 16px;
				img {
					width: 636px;
				}
				.text {
					width: 310px;
				}
			}
			.finance {
				height: 580px;
				display: flex;
				flex-direction: column;
				gap: 28px;
				img {
					width: 425px;
				}
				.text {
					width: 428px;
				}
			}
			.messenger {
				height: 748px;
				display: flex;
				flex-direction: column;
				gap: 24px;
				width: 592px;
				.image {
					align-self: center;
				}
				img {
					width: 340px;
				}
			}
			.analitycs {
				height: 512px;
				display: flex;
				flex-direction: column;
				gap: 24px;
				img {
					width: 600px;
				}
				.text {
					width: 573px;
				}
			}
		}
		.left {
			display: flex;
			flex-direction: column;
			gap: 18px;
		}
		.right {
			display: flex;
			flex-direction: column;
			gap: 24px;
		}
	}
}

@media (max-width: 1600px) {
	.main_container {
		gap: 36px;
		.title {
			gap: 20px;
			h2 {
				font-size: 60px;
				line-height: 80px;
			}
		}
		.row {
			gap: 20px;
			.card {
				border-radius: 35px;
				width: 590px;
				padding: 18px 0 0 42px;
				.text {
					gap: 8px;
					p {
						font-size: 17px;
						line-height: 24px;
					}
					.title {
						font-size: 42px;
						line-height: 48px;
					}
				}
				.recording {
					height: 580px;
					gap: 32px;
					img {
						width: 500px;
					}
					.text {
						width: 410px;
					}
				}
				.journal {
					gap: 24px;
					img {
						width: 480px;
					}
					.text {
						width: 480px;
					}
				}
				.taskbook {
					height: 450px;
					gap: 16px;
					img {
						width: 500px;
					}
					.text {
						width: 310px;
					}
				}
				.finance {
					height: fit-content;
					gap: 28px;
					img {
						width: 370px;
					}
					.text {
						width: 380px;
					}
				}
				.messenger {
					height: 650px;
					gap: 20px;
					width: fit-content;
					img {
						width: 300px;
					}
				}
				.analitycs {
					height: 424px;
					gap: 24px;
					img {
						width: 480px;
					}
					.text {
						width: 480px;
					}
				}
			}
			.left {
				gap: 18px;
			}
			.right {
				gap: 24px;
			}
		}
	}
}

@media (max-width: 1300px) {
	.main_container {
		gap: 32px;
		.title {
			gap: 16px;
			h2 {
				font-size: 45px;
				line-height: 60px;
			}
		}
		.row {
			gap: 18px;
			.card {
				border-radius: 30px;
				width: 441px;
				padding: 14px 0 0 30px;
				.text {
					gap: 6px;
					p {
						font-size: 13px;
						line-height: 15px;
					}
					.title {
						font-size: 32px;
						line-height: 36px;
					}
				}
				.recording {
					height: 430px;
					gap: 28px;
					img {
						width: 380px;
					}
					.text {
						width: 310px;
					}
				}
				.journal {
					gap: 20px;
					img {
						width: 350px;
					}
					.text {
						width: 350px;
					}
				}
				.taskbook {
					height: 320px;
					gap: 16px;
					img {
						width: 380px;
					}
					.text {
						width: 310px;
					}
				}
				.finance {
					height: fit-content;
					gap: 24px;
					img {
						width: 280px;
					}
					.text {
						width: 280px;
					}
				}
				.messenger {
					height: 490px;
					gap: 20px;
					width: fit-content;
					img {
						width: 230px;
					}
				}
				.analitycs {
					height: 300px;
					gap: 24px;
					img {
						width: 350px;
					}
					.text {
						width: 350px;
					}
				}
			}
			.left {
				gap: 18px;
			}
			.right {
				gap: 24px;
			}
		}
	}
}

@media (max-width: 992px) {
	.main_container {
		gap: 24px;
		.title {
			gap: 14px;
			h2 {
				font-size: 30px;
				line-height: 60px;
			}
		}
		.row {
			gap: 14px;
			.card {
				border-radius: 25px;
				width: 293px;
				padding: 12px 0 0 24px;
				.text {
					gap: 6px;
					p {
						font-size: 8px;
						line-height: 11px;
					}
					.title {
						font-size: 20px;
						line-height: 24px;
					}
				}
				.recording {
					height: 310px;
					gap: 22px;
					img {
						width: 250px;
					}
					.text {
						width: 190px;
					}
				}
				.journal {
					gap: 16px;
					img {
						width: 220px;
					}
					.text {
						width: 220px;
					}
				}
				.taskbook {
					height: 220px;
					gap: 16px;
					img {
						width: 250px;
					}
					.text {
						width: 310px;
					}
				}
				.finance {
					height: fit-content;
					gap: 20px;
					img {
						width: 170px;
					}
					.text {
						width: 180px;
					}
				}
				.messenger {
					height: 350px;
					gap: 16px;
					width: fit-content;
					img {
						width: 160px;
					}
				}
				.analitycs {
					height: 200px;
					gap: 18px;
					img {
						width: 220px;
					}
					.text {
						width: 220px;
					}
				}
			}
			.left {
				gap: 18px;
			}
			.right {
				gap: 24px;
			}
		}
	}
}

@media (max-width: 768px) {
	.fuck {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.main_container {
		display: flex;
		flex-direction: column;
		gap: 4.26vw;
		align-items: flex-start;
		justify-content: center;
		.title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			h2 {
				align-self: center;
				text-align: center;
				width: 92vw;
				font-size: 7.46vw;
				line-height: 9.6vw;
			}
		}

		.row {
			display: flex;
			flex-direction: column;
			gap: 4.26vw;
			.card {
				border-radius: 6.4vw;
				background: #f6f6f6;
				width: 92vw;
				padding: 6.4vw 0 0 6.4vw;
				.text {
					display: flex;
					flex-direction: column;
					gap: 2.6vw;
					align-items: flex-start;
					p {
						font-size: 3.2vw;
						line-height: 4.2vw;
						text-align: left;
					}
					.title {
						font-size: 7.46vw;
						line-height: 10.13vw;
						text-align: left;
					}
				}
				.recording {
					height: 81.3vw;
					gap: 4vw;
					.text {
						width: 75.5vw;
					}
					img {
						width: 73.6vw;
					}
				}
				.journal {
					gap: 6.4vw;
					.text {
						width: 74vw;
					}
					img {
						width: 80.26vw;
					}
				}
				.taskbook {
					height: 76vw;
					display: flex;
					flex-direction: column;
					gap: 7.46vw;
					img {
						width: 73.6vw;
					}
					.text {
						width: 55vw;
					}
				}
				.finance {
					height: fit-content;
					display: flex;
					flex-direction: column;
					gap: 4vw;
					.text {
						width: 78.4vw;
					}
					img {
						width: 74vw;
					}
				}
				.messenger {
					height: 148.6vw;
					display: flex;
					flex-direction: column;
					gap: 6.4vw;
					width: 78.6vw;
					.image {
						align-self: center;
					}
					img {
						width: 64vw;
					}
				}
				.analitycs {
					height: 71vw;
					gap: 6.4vw;
					.text {
						width: 54.4vw;
					}
					img {
						width: 69.6vw;
					}
				}
			}
			.left {
				display: flex;
				flex-direction: column;
				gap: 18px;
			}
			.right {
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
		}
	}
}
