.wrapper {
	@apply flex flex-col;
	gap: 180px;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.maxwrapper {
	@apply flex flex-col;
	gap: 180px;
	max-width: 1480px;
	display: flex;
	flex-direction: column;
	align-self: center;
}

@media (max-width: 1600px) {
	.wrapper {
		gap: 140px;
	}

	.maxwrapper {
		gap: 140px;
		max-width: 1200px;
	}
}

@media (max-width: 1300px) {
	.wrapper {
		gap: 100px;
	}

	.maxwrapper {
		gap: 100px;
		max-width: 900px;
	}
}

@media (max-width: 992px) {
	.wrapper {
		gap: 60px;
	}

	.maxwrapper {
		gap: 60px;
		max-width: 600px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		max-width: 100vw;
		gap: 17vw;
	}
	.maxwrapper {
		gap: 17vw;
		max-width: 92vw;
	}
}
