$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);

$menuItems: 7;

.darken {
	background-color: #00000066;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9;
}

.indent {
	height: 2.08vw;
}

.shadows {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	img {
		width: 100vw;
		height: 100vh;
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	max-width: 100vw;
	min-width: 100vw;
	//background-color: #09101c;
	.headerContent {
		@apply max-w-[71.04vw] flex justify-between items-center;
		margin: 0 auto;

		.navmenu {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-weight: 600;
			font-size: 0.758vw;
			line-height: 1.3vw;
			gap: 1.25vw;

			.tabs {
				display: flex;
				flex-direction: row;

				.item {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 0.2vw;
					padding: 0.5vw 1.21vw;
					height: fit-content;
					color: #ebebeb;
					transition: color 0.3s ease;
					svg {
						width: 0.57vw;
						height: 0.57vw;
					}
				}

				&:hover .item {
					color: #ebebeb66;
				}

				.item:hover {
					color: #ebebeb !important;
				}
			}
		}
		a {
			.logo {
				display: flex;
				align-items: center;
				user-select: none;
				pointer-events: none;
				img {
					width: 7.32vw;
					height: 1.72vw;
				}
			}
		}

		ul {
			@apply flex  gap-[0.8vw] items-center py-[0.9vw];

			.auth {
				> a {
					@apply flex justify-center items-center px-[1.768vw] rounded-full h-[2.5vw];
					color: #ffffff;
					width: 5.625vw;
					background: #131d2f;
					border-radius: 0.4vw;
					font-weight: 600;
					font-size: 0.78125vw;
					user-select: none;

					//&:hover {
					//	background: #1f5ad3;
					//	color: white;
					//}

					&:active {
						@apply bg-text bg-opacity-30;
					}
				}

				&.reg {
					.icon_button {
						display: flex;
						flex-direction: row;
						gap: 0.208vw;
						align-items: center;
						justify-content: center;
						svg {
							width: 1.04167vw;
							height: 1.04167vw;
						}
					}
					a {
						background: #09101c;
						color: #ffffff;
						border: 1px solid #202c42;
						width: 13.177vw;

						//&:hover {
						//	background: #1f5ad3;
						//	color: white;
						//}

						&:active {
							@apply bg-text bg-opacity-30;
						}
					}
				}
			}
		}

		.menu {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	.header {
		margin-top: 0;
		@apply fixed bg-white w-full z-10;
		transform: translateY(0) !important;
		box-shadow: none;
		border-radius: 0;
		.headerContent {
			max-width: 89.7436vw;
			height: 14.3589vw;
			.navmenu {
				.tabs {
					display: none;
				}
			}
			a {
				.logo {
					position: relative;
					z-index: 50;
					img {
						width: fit-content;
						height: 8.2051vw;
					}
					margin: 0;
				}
			}

			ul {
				@apply flex flex-col-reverse justify-center items-center -top-[400%] left-0 z-40 absolute w-full h-0;
				transition: all 0s ease-out;
				transition-delay: 0s;
				list-style: none;

				li {
					border-bottom: 1px solid #fff;
					@apply w-[92vw];
					margin-top: 0;
					transform: scale(1.15) translateY(-30px);
					opacity: 0;
					transition:
						transform 0s $cubic,
						opacity 0s $cubic;
					//@for $i from 1 through $menuItems {
					//	&:nth-child(#{$i}) {
					//		transition-delay: #{0.56 - ($i * 0.07)}s;
					//	}
					//}

					a {
						color: #fff;
						text-decoration: none;
						font-size: 22px;
						line-height: 2.35;
						width: 100%;
						transition: opacity 0s ease;
					}

					&.auth {
						@apply border-none;
						> a {
							display: flex;
							justify-content: flex-start;
							height: fit-content;
							width: 92vw;
							font-size: 4.53vw;
							line-height: 5.6vw;
							background: transparent;
							color: #000000;
							padding: 6.53vw 1vw;
							&:hover {
								background: #313131;
								color: white;
							}

							&:active {
								@apply bg-text bg-opacity-30;
							}
						}

						&.reg {
							a {
								display: flex;
								justify-content: flex-start;
								height: fit-content;
								width: 92vw;
								font-size: 4.53vw;
								line-height: 5.6vw;
								background: transparent;
								color: #000000;
								&:hover {
									background: #313131;
									color: white;
								}

								&:active {
									@apply bg-text bg-opacity-30;
								}
							}
						}

						&.free {
							@apply mt-[0] relative left-0 top-0;
							a {
								@apply bg-white border-none pl-0;
							}
						}
					}
				}

				&.active {
					@apply bg-white z-40 top-0 h-fit;
					border-radius: 0 0 5.3vw 5.3vw;
					transition: all 0s ease-in;
					transition-delay: 0s;
					margin-top: 15vw;
					li {
						transform: scale(1) translateY(0px);
						opacity: 1;
						//@for $i from 1 through $menuItems {
						//	&:nth-child(#{$i}) {
						//		transition-delay: #{0.07 * $i + 0.2}s;
						//	}
						//}
					}
					a {
						opacity: 1;
					}
				}
			}

			.menu {
				transition: transform 0.3s ease-out;
				@apply block w-[8.205vw] h-[8.205vw] p-[2.5641vw] z-50;
				border-radius: 2.5641vw;
				background: #ffffff0d;
				border: 0.2564vw solid #000000;
				span {
					@apply block w-full h-[0.3vw] rounded-[0.5vw] relative;
					background: #a1abbd;
					transition: 0.3s ease;

					& + span {
						@apply mt-[1vw];
					}

					&:nth-child(1) {
						animation: ease 0.8s menu-icon-top-2 forwards;
					}

					&:nth-child(2) {
						animation: ease 0.8s menu-icon-scaled-2 forwards;
					}

					&:nth-child(3) {
						animation: ease 0.8s menu-icon-bottom-2 forwards;
					}
				}

				&.activeMenu {
					span {
						&:nth-child(1) {
							animation: ease 0.8s menu-icon-top forwards;
						}

						&:nth-child(2) {
							animation: ease 0.8s menu-icon-scaled forwards;
						}

						&:nth-child(3) {
							animation: ease 0.8s menu-icon-bottom forwards;
						}
					}
				}
			}
		}
	}
}
//
//@keyframes menu-icon-top {
//	0% {
//		transform: translateY(0) rotate(0);
//	}
//	50% {
//		transform: translateY(1.9vw) rotate(0);
//	}
//	100% {
//		transform: translateY(1.9vw) rotate(45deg);
//	}
//}
//
//@keyframes menu-icon-scaled {
//	0% {
//		transform: scale(1);
//	}
//	50% {
//		transform: scale(0);
//	}
//	100% {
//		transform: scale(0);
//	}
//}
//
//@keyframes menu-icon-bottom {
//	0% {
//		transform: translateY(0) rotate(0);
//	}
//	50% {
//		transform: translateY(-1.9vw) rotate(0);
//	}
//	100% {
//		transform: translateY(-1.9vw) rotate(-45deg);
//	}
//}
//
//@keyframes menu-icon-top-2 {
//	0% {
//		transform: translateY(1.9vw) rotate(45deg);
//	}
//	50% {
//		transform: translateY(1.9vw) rotate(0);
//	}
//	100% {
//		transform: translateY(0) rotate(0);
//	}
//}
//
//@keyframes menu-icon-scaled-2 {
//	0% {
//		transform: scale(0);
//	}
//	50% {
//		transform: scale(0);
//	}
//	100% {
//		transform: scale(1);
//	}
//}
//
//@keyframes menu-icon-bottom-2 {
//	0% {
//		transform: translateY(-1.9vw) rotate(-45deg);
//	}
//	50% {
//		transform: translateY(-1.9vw) rotate(0);
//	}
//	100% {
//		transform: translateY(0) rotate(0);
//	}
//}
