.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.main_container {
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: flex-start;
	justify-content: center;
	.title {
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: flex-start;
		justify-content: center;
		h2 {
			font-size: 48px;
			font-weight: 700;
			line-height: 61px;
			text-align: left;
			color: #000000;
		}
		p {
			font-size: 32px;
			font-weight: 600;
			line-height: 44px;
			text-align: left;

			color: #00000099;
		}
	}
	.image {
		box-shadow: 0 4px 15px 0 #00000026;
		border-radius: 20px;
		user-select: none;
		pointer-events: none;
	}
}

@media (max-width: 1600px) {
	.main_container {
		gap: 40px;
		.title {
			gap: 20px;
			h2 {
				font-size: 40px;
				line-height: 52px;
			}
			p {
				font-size: 27px;
				line-height: 32px;
			}
		}
		.image {
			border-radius: 20px;
		}
	}
}

@media (max-width: 1300px) {
	.main_container {
		gap: 32px;
		.title {
			gap: 16px;
			h2 {
				font-size: 30px;
				line-height: 38px;
			}
			p {
				font-size: 20px;
				line-height: 28px;
			}
		}
		.image {
			border-radius: 20px;
		}
	}
}

@media (max-width: 992px) {
	.main_container {
		gap: 24px;
		.title {
			gap: 12px;
			h2 {
				font-size: 20px;
				line-height: 28px;
			}
			p {
				font-size: 13px;
				line-height: 15px;
			}
		}
		.image {
			border-radius: 20px;
		}
	}
}

@media (max-width: 768px) {
	.main_container {
		gap: 6.4vw;
		.title {
			gap: 4vw;
			h2 {
				font-size: 6.4vw;
				line-height: 8vw;
			}
			p {
				font-size: 4.26vw;
				line-height: 5.86vw;
			}
		}
		.image {
			border-radius: 3.2vw;
		}
	}
}
