.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.main_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 48px;
	align-items: center;
	position: relative;
	h2 {
		align-self: flex-start;
		font-size: 64px;
		font-weight: 700;
		line-height: 82px;
		text-align: left;
		color: #161616;
	}
	.bottom {
		display: flex;
		flex-direction: column;
		.row {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 60px;
			.card {
				display: flex;
				flex-direction: column;
				gap: 16px;
				p {
					font-size: 32px;
					font-weight: 600;
					line-height: 43.71px;
					text-align: left;
					color: #161616;
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.main_container {
		gap: 40px;
		h2 {
			font-size: 50px;
			line-height: 66px;
		}
		.bottom {
			.row {
				gap: 60px;
				.card {
					gap: 12px;
					p {
						font-size: 25px;
						line-height: 33px;
					}
					svg {
						width: 70px;
						height: 70px;
					}
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.main_container {
		gap: 30px;
		h2 {
			font-size: 38px;
			line-height: 44px;
		}
		.bottom {
			.row {
				gap: 50px;
				.card {
					gap: 8px;
					p {
						font-size: 17px;
						line-height: 26px;
					}
					svg {
						width: 50px;
						height: 50px;
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.main_container {
		gap: 20px;
		h2 {
			font-size: 25px;
			line-height: 32px;
		}
		.bottom {
			.row {
				gap: 50px;
				.card {
					gap: 4px;
					p {
						font-size: 11px;
						line-height: 16px;
					}
					svg {
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.main_container {
		gap: 20px;
		h2 {
			font-size: 8.53vw;
			line-height: 10.93vw;
		}
		.bottom {
			flex-direction: column-reverse;
			.row {
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: repeat(4, 1fr);
				margin-top: 4.26vw;
				gap: 6.4vw;
				.card {
					padding-right: 9.6vw;
					gap: 4.26vw;
					p {
						font-size: 6.4vw;
						line-height: 8.8vw;
					}
					svg {
						width: 8.53vw;
						height: 8.53vw;
					}
				}
			}
		}
	}
}
