.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 69.1667vw;
    height: fit-content;
    position: relative;
    overflow: hidden;
    gap: 4.1667vw;
    margin: 0 auto 7.5521vw;
    padding-top: 7.5521vw;
    border-top: 0.0521vw solid #90909080;
}

.up {
    width: 18.3854vw;
    padding-left: 1.0417vw;
    h3 {
        font-size: 1.7708vw;
        line-height: 2.0833vw;
        font-weight: 700;
        color: #2A2C32;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46.6667vw;
    height: fit-content;
    gap: 2.0833vw;
    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1.25vw;
        width: 100%;
        .black {
            background: #2A2C32;
            color: #FFFFFF;
            border: none;
        }
        button {
            background: #FFFFFF;
            color: #2A2C32;
            padding: 1.0417vw 2.1875vw;
            font-size: 0.833vw;
            font-weight: 600;
            line-height: 1.1458vw;
            text-align: center;
            width: fit-content;
            border-radius: 0.4167vw;
            border: 0.0521vw solid #90909080;
        }
    }
    .accordionItem {
        height: fit-content;
        width: 46.667vw;
        border-bottom: 0.0521vw solid #90909080;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 2.5vw 2.0833vw;
        margin-bottom: 2.0833vw;
    }
    .accordionHeader {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        svg {
            width: 0.4167vw;
            height: 0.3125vw;
        }
        h4 {
            font-size: 0.8333vw;
            font-weight: 400;
            line-height: 1.1458vw;
            color: #2A2C32;
        }
    }
    .accordionContent {
        overflow: hidden;
        padding: 3.125vw 0 1.0417vw;
        p{
            font-size: 0.8333vw;
            font-weight: 400;
            line-height: 1.3021vw;
            color: #2A2C32;
        }
        span {
            font-weight: 700;
        }
    }
}

@media (max-width: 768px) {
    .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        position: relative;
        overflow: hidden;
        gap: 12.3077vw;
        margin: 0 auto 12.5641vw;
        padding-top: 12.5641vw;
        border-top: 0.2564vw solid #90909080;
    }

    .up {
        width: 100vw;
        padding-left: 0;
        h3 {
            font-size: 6.1538vw;
            line-height: 7.1795vw;
            font-weight: 700;
            color: #2A2C32;
            text-align: center;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 46.6667vw;
        height: fit-content;
        gap: 2.0833vw;
        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2.5641vw;
            button {
                background: #FFFFFF;
                color: #2A2C32;
                padding: 3.5897vw 17.3077vw;
                font-size: 4.1026vw;
                font-weight: 600;
                line-height: 5.641vw;
                text-align: center;
                width: fit-content;
                border-radius: 2.0513vw;
                align-self: center;
                border: 0.2564vw solid #90909080;
            }
        }
        .accordionItem {
            height: fit-content;
            width: 89.7436vw;
            border-bottom: 0.2564vw solid #90909080;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 0 10.2564vw;
            margin-bottom: 10.2564vw;
        }
        .accordionHeader {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            svg {
                width: 2.0513vw;
                height: 1.5385vw;
            }
            h4 {
                font-size: 4.1026vw;
                font-weight: 400;
                line-height: 5.641vw;
                color: #2A2C32;
            }
        }
        .accordionContent {
            padding: 3.125vw 2.5vw 1.0417vw;
            p{
                font-size: 4.1026vw;
                font-weight: 400;
                line-height: 5.641vw;
                color: #2A2C32;
            }
        }
    }
}