.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;

    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5vw 0;
        width: 69.2708vw;
        height: fit-content;
        border-bottom: 0.0521vw solid #2A2C3220;
        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 36.4583vw;
            h3{
                font-size: 1.7708vw;
                font-weight: 700;
                line-height: 2.0833vw;
                text-align: left;
                color: #333333;
            }
            p{
                font-size: 0.8333vw;
                font-weight: 600;
                line-height: 1.5104vw;
                text-align: left;
                color: #2A2C32;
            }
            span {
                font-size: 0.8333vw;
                font-weight: 400;
                line-height: 1.5104vw;
                text-align: left;
                color: #2A2C32;
            }
            .minus {
                margin: 2.0833vw 0;
                width: 0.5208vw;
                height: 0.2083vw;
                background: #0BA3AD;
            }
        }
        img {
            width: 21.0467vw;
            height: 23.3333vw;
            user-select: none;
            pointer-events: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: fit-content;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 12.3077vw 0;
            width: 89.7436vw;
            height: fit-content;
            border-bottom: 0.2564vw solid #2A2C3220;
            gap: 15.3846vw;
            margin-top: 12.3077vw;
            .text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 79.4872vw;
                h3 {
                    font-size: 6.1538vw;
                    line-height: 7.1795vw;
                }
                p{
                    font-size: 4.1026vw;
                    line-height: 4.8718vw;
                }
                span {
                    font-size: 4.1026vw;
                    line-height: 6.5641vw;
                    margin-top: 2.5641vw;
                }
                .minus {
                    margin: 10.2564vw 0;
                    width: 2.5641vw;
                    height: 1.0256vw;
                }
            }
            img {
                width: 89.7436vw;
                height: 77.9487vw;
                user-select: none;
                pointer-events: none;
            }
        }
    }
}