$animationDelayFactor: 0.2;

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-30%);
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 4.7vw;
	height: 29.5vw;
	position: relative;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 1.15vw;
	position: absolute;
	align-self: center;
	.column {
		display: flex;
		flex-direction: column;
		gap: 1.15vw;
		svg {
			opacity: 0;
			animation: fadeIn 1.5s ease-out forwards;
			width: 5vw;
			height: 5vw;
		}
		&:nth-child(1) {
			margin-top: 2.78vw;
			svg {
				&:nth-child(1) {
					animation-delay: 1s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(2) {
			margin-top: 0;
			svg {
				&:nth-child(1) {
					animation-delay: 1s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 2s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(3) {
			margin-top: 2.58vw;
			svg {
				&:nth-child(1) {
					animation-delay: 2s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 3s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(4) {
			margin-top: 5vw;
			svg {
				&:nth-child(1) {
					animation-delay: 3s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 4s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(5) {
			margin-top: 1.11vw;
			svg {
				&:nth-child(1) {
					animation-delay: 3s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 4s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 5s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(6) {
			margin-top: 4.64vw;
			svg {
				&:nth-child(1) {
					animation-delay: 4s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 5s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 6s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(7) {
			margin-top: 0.61vw;
			svg {
				&:nth-child(1) {
					animation-delay: 4s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 5s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 6s * $animationDelayFactor;
				}
				&:nth-child(4) {
					animation-delay: 7s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(8) {
			margin-top: 4.09vw;
			svg {
				&:nth-child(1) {
					animation-delay: 5s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 6s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 7s * $animationDelayFactor;
				}
				&:nth-child(4) {
					animation-delay: 8s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(9) {
			margin-top: 0;
			svg {
				&:nth-child(1) {
					animation-delay: 6s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 7s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 8s * $animationDelayFactor;
				}
				&:nth-child(4) {
					animation-delay: 9s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(10) {
			margin-top: 4.09vw;
			svg {
				&:nth-child(1) {
					animation-delay: 5s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 6s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 7s * $animationDelayFactor;
				}
				&:nth-child(4) {
					animation-delay: 8s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(11) {
			margin-top: 0.61vw;
			svg {
				&:nth-child(1) {
					animation-delay: 4s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 5s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 6s * $animationDelayFactor;
				}
				&:nth-child(4) {
					animation-delay: 7s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(12) {
			margin-top: 4.64vw;
			svg {
				&:nth-child(1) {
					animation-delay: 4s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 5s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 6s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(13) {
			margin-top: 1.11vw;
			svg {
				&:nth-child(1) {
					animation-delay: 3s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 4s * $animationDelayFactor;
				}
				&:nth-child(3) {
					animation-delay: 5s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(14) {
			margin-top: 5vw;
			svg {
				&:nth-child(1) {
					animation-delay: 3s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 4s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(15) {
			margin-top: 2.58vw;
			svg {
				&:nth-child(1) {
					animation-delay: 2s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 3s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(16) {
			margin-top: 0;
			svg {
				&:nth-child(1) {
					animation-delay: 1s * $animationDelayFactor;
				}
				&:nth-child(2) {
					animation-delay: 2s * $animationDelayFactor;
				}
			}
		}
		&:nth-child(17) {
			margin-top: 2.78vw;
			svg {
				&:nth-child(1) {
					animation-delay: 1s * $animationDelayFactor;
				}
			}
		}
	}
}

@media (max-width: 768px) {
}
