.fuck {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	gap: 136px;
	position: relative;
	max-width: 1480px;
	align-items: flex-start;
	.container {
		display: flex;
		flex-direction: column;
		gap: 64px;
		h2 {
			width: 1446px;
			font-weight: 700;
			font-size: 54px;
			line-height: 69px;
			color: #000000;
			text-align: center;
		}
		h3 {
			font-size: 32px;
			font-weight: 500;
			line-height: 41px;
			color: #16161699;
			margin-top: 16px;
			text-align: center;
		}
		.list {
			width: fit-content;
			display: flex;
			flex-direction: column;
			gap: 32px;
			.item {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 32px;
				.circle {
					width: 64px;
					height: 64px;
					border-radius: 100%;
					background: #161616;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 32px;
					font-weight: 500;
					line-height: 44px;
					color: #ffffff;
				}
				p {
					color: #12092d;
					font-size: 32px;
					font-weight: 600;
					line-height: 44px;
				}
			}
		}
		.image {
			user-select: none;
			pointer-events: none;
			position: absolute;
			bottom: 18%;
			right: -46px;
			img {
				width: 518px;
			}
		}
	}
	.button_box {
		margin: 0 auto;
	}
}

@media (max-width: 1600px) {
	.fuck {
		max-width: 1200px;
		gap: 100px;
		.container {
			gap: 48px;
			h2 {
				width: 1166px;
				font-size: 44px;
				line-height: 55px;
			}
			h3 {
				font-size: 25px;
				line-height: 27px;
				margin-top: 14px;
			}
			.list {
				gap: 24px;
				.item {
					gap: 24px;
					.circle {
						width: 40px;
						height: 40px;
						font-size: 25px;
						line-height: 27px;
					}
					p {
						font-size: 25px;
						line-height: 27px;
					}
				}
			}
			.image {
				right: 20px;
				img {
					width: 370px;
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.fuck {
		max-width: 900px;
		gap: 70px;
		.container {
			gap: 32px;
			h2 {
				width: 866px;
				font-size: 33px;
				line-height: 45px;
			}
			h3 {
				font-size: 19px;
				line-height: 20px;
				margin-top: 12px;
			}
			.list {
				gap: 18px;
				.item {
					gap: 18px;
					.circle {
						width: 36px;
						height: 36px;
						font-size: 19px;
						line-height: 20px;
					}
					p {
						font-size: 19px;
						line-height: 20px;
					}
				}
			}
			.image {
				right: -10px;
				img {
					width: 290px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.fuck {
		max-width: 600px;
		gap: 50px;
		.container {
			gap: 24px;
			h2 {
				width: 566px;
				font-size: 22px;
				line-height: 30px;
			}
			h3 {
				font-size: 12px;
				line-height: 15px;
				margin-top: 10px;
			}
			.list {
				gap: 13px;
				.item {
					gap: 13px;
					.circle {
						width: 26px;
						height: 26px;
						font-size: 12px;
						line-height: 15px;
					}
					p {
						font-size: 12px;
						line-height: 15px;
					}
				}
			}
			.image {
				right: -50px;
				img {
					width: 210px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.fuck {
		gap: 8.5vw;
		max-width: 92vw;
		align-items: flex-start;
		.container {
			gap: 0;
			h2 {
				font-size: 6.3vw;
				font-weight: 700;
				line-height: 6.8vw;
				text-align: left;
				margin-left: 0;
				width: 92vw;
			}
			.list {
				width: fit-content;
				display: flex;
				flex-direction: column;
				gap: 8.5vw;
				.item {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 4vw;
					width: 92vw;
					.circle {
						width: 12.8vw;
						height: 12.8vw;
						font-size: 4.1vw;
						font-weight: 500;
						line-height: 4.5vw;
						text-align: center;
					}
					p {
						color: #12092d;
						font-size: 4.1vw;
						font-weight: 600;
						line-height: 4.5vw;
						text-align: left;
					}
				}
			}
			.image {
				position: relative;
				bottom: 0;
				right: 0;
				img {
					width: 92vw;
				}
			}
		}
	}
}
