.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    gap: 3.33vw;
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3.33vw 5.0781vw;
        width: 69.2708vw;
        height: fit-content;
        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 1.25vw;
            width: 20.833vw;
            h3 {
                font-size: 1.7708vw;
                font-weight: 700;
                line-height: 2.0833vw;
                text-align: left;
                color: #2A2C32;
            }
            p{
                font-size: 0.833vw;
                font-weight: 400;
                line-height: 1.33vw;
                text-align: left;
                color: #2A2C32;
            }
            span {
                font-weight: 700;
            }
        }

        img {
            width: 25.9375vw;
            height: 30vw;
            user-select: none;
            pointer-events: none;
        }

        &:nth-child(2) {

            img {
                width: 28.125vw;
                height: 26.1979vw;
            }
        }

        &:nth-child(3) {
            .text {
                width: 25.625vw;
                margin-right: -4.7917vw;
                p {
                    width: 20.833vw;
                }
            }
            img {
                width: 28.125vw;
                height: 28.125vw;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        gap: 6.1538vw;
        .card {
            flex-direction: column;
            width: 100vw;
            gap: 12.3077vw;
            padding: 6.1538vw 5.1282vw;
            .text {
                gap: 6.1538vw;
                width: 89.7436vw;
                height: 53.3333vw;
                display: flex;
                justify-content: flex-start;
                h3 {
                    font-size: 6.1538vw;
                    line-height: 7.1795vw;
                }
                p{
                    font-size: 4.1026vw;
                    line-height: 6.5641vw;
                }
            }
            img {
                width: 89.7436vw;
                height: 103.8462vw;
            }
            &:nth-child(2) {
                flex-direction: column-reverse;
                img {
                    width: 89.7436vw;
                    height: 89.7436vw;
                }
            }
            &:nth-child(3) {
                .text {
                    width: 89.7436vw;
                    margin-right: 0;
                    h3 {
                        width: 84.359vw;
                    }
                    p {
                        width: 89.7436vw;
                    }
                }
                img {
                    width: 89.7436vw;
                    height: 89.7436vw;
                }
            }
        }
    }
}