.fuck {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	gap: 47px;
	position: relative;
	max-width: 1480px;
	align-items: flex-start;
	.container {
		display: flex;
		flex-direction: column;
		gap: 64px;
		h2 {
			width: 1446px;
			font-weight: 700;
			font-size: 54px;
			line-height: 69px;
			margin-left: 16px;
		}
		.list {
			width: fit-content;
			display: flex;
			flex-direction: column;
			gap: 32px;
			.item {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 32px;
				.circle {
					width: 80px;
					height: 80px;
					border-radius: 100%;
					background: #f6f6f6;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 48px;
					font-weight: 500;
					line-height: 66px;
				}
				p {
					color: #12092d;
					font-size: 32px;
					font-weight: 600;
					line-height: 44px;
				}
			}
		}
		.image {
			user-select: none;
			pointer-events: none;
			position: absolute;
			bottom: 0;
			right: -146px;
			img {
				width: 842px;
			}
		}
	}
	.button_box {
		margin: 0 auto;
		.button {
			margin: 0 auto;
			transition: 0.5s ease;
			@apply hover:text-text;
			position: relative;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 436px;
			height: 81px;
			border-radius: 24px;
			background: #ff7043;
			font-weight: 700;
			font-size: 24px;
			line-height: 33px;
			color: #ffffff;
			user-select: none;
			&:hover {
				background: #dd6139;
				color: white;
			}
			&:active {
				@apply bg-text bg-opacity-30;
			}
		}
	}
}

@media (max-width: 1600px) {
	.fuck {
		max-width: 1200px;
		gap: 35px;
		.container {
			gap: 48px;
			h2 {
				width: 1166px;
				font-size: 44px;
				line-height: 55px;
				margin-left: 16px;
			}
			.list {
				gap: 24px;
				.item {
					gap: 24px;
					.circle {
						width: 60px;
						height: 60px;
						font-size: 32px;
						line-height: 60px;
					}
					p {
						font-size: 25px;
						line-height: 27px;
					}
				}
			}
			.image {
				bottom: 0;
				right: -90px;
				img {
					width: 619px;
				}
			}
		}
		.button_box {
			.button {
				width: 283px;
				height: 60px;
				border-radius: 18px;
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
}

@media (max-width: 1300px) {
	.fuck {
		max-width: 900px;
		gap: 27px;
		.container {
			gap: 32px;
			h2 {
				width: 866px;
				font-size: 33px;
				line-height: 45px;
				margin-left: 14px;
			}
			.list {
				gap: 18px;
				.item {
					gap: 18px;
					.circle {
						width: 50px;
						height: 50px;
						font-size: 25px;
						line-height: 50px;
					}
					p {
						font-size: 19px;
						line-height: 20px;
					}
				}
			}
			.image {
				bottom: 0;
				right: -90px;
				img {
					width: 519px;
				}
			}
		}
		.button_box {
			.button {
				width: 283px;
				height: 50px;
				border-radius: 15px;
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
}

@media (max-width: 992px) {
	.fuck {
		max-width: 600px;
		gap: 27px;
		.container {
			gap: 24px;
			h2 {
				width: 566px;
				font-size: 22px;
				line-height: 30px;
				margin-left: 14px;
			}
			.list {
				gap: 13px;
				.item {
					gap: 13px;
					.circle {
						width: 35px;
						height: 35px;
						font-size: 18px;
						line-height: 35px;
					}
					p {
						font-size: 12px;
						line-height: 15px;
					}
				}
			}
			.image {
				bottom: 0;
				right: -50px;
				img {
					width: 359px;
				}
			}
		}
		.button_box {
			.button {
				width: 203px;
				height: 40px;
				border-radius: 11px;
				font-size: 11px;
				line-height: 24px;
			}
		}
	}
}
