.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 336px 0 220px;
}
.main_container {
	gap: 24px;
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	position: relative;
	.head {
		display: flex;
		flex-direction: column;
		gap: 20px;
		h1 {
			font-size: 64px;
			line-height: 80px;
			text-align: center;
			font-weight: 700;
		}
		span {
			color: #16161666;
		}
	}
	.additionalText {
		width: 657px;
		p {
			font-size: 24px;
			font-weight: 700;
			line-height: 33px;
			letter-spacing: 0;
			text-align: center;
			color: #00000099;
		}
	}
	.phone_image {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90px;
		height: 90px;
		z-index: 3;
		transition: 0.5s ease;
		@apply hover:text-text;
		position: fixed;
		bottom: 8vh;
		right: 8vw;
		color: #ff7043;
		cursor: pointer;
		&:hover {
			color: #dd6039;
		}
	}
	.buttons {
		@apply flex items-center justify-center;
		-webkit-tap-highlight-color: transparent;
		list-style: none;
		padding: 0;
		.auth {
			a {
				transition: 0.5s ease;
				@apply hover:text-text;
			}
			> a {
				@apply flex justify-center items-center text-white py-[8px] px-[24px] border leading-[24px] rounded-full bg-primary;
				background: #246bfd;
				border-radius: 24px;
				padding: 24px 0;
				width: 360px;
				font-size: 24px;
				font-weight: 700;
				line-height: 33px;
				user-select: none;
				&:hover {
					background: #1f5ad3;
					color: white;
				}
				&:active {
					@apply bg-text bg-opacity-30;
				}
			}
		}
	}
}

@media (max-width: 1600px) {
	.fuck {
		margin: 272px 0 180px;
	}
	.main_container {
		gap: 20px;
		.head {
			gap: 16px;
			h1 {
				font-size: 50px;
				line-height: 60px;
			}
		}
		.additionalText {
			width: 507px;
			p {
				font-size: 18px;
				line-height: 24px;
			}
		}
		.phone_image {
			width: 86px;
			height: 86px;
			svg {
				width: 75px;
				height: 75px;
			}
		}
		.buttons {
			.auth {
				> a {
					border-radius: 18px;
					padding: 17px 85px;
					width: 280px;
					font-size: 15px;
					line-height: 24px;
				}
			}
		}
	}
}

@media (max-width: 1300px) {
	.fuck {
		margin: 202px 0 70px;
	}
	.main_container {
		gap: 16px;
		.head {
			gap: 14px;
			h1 {
				font-size: 36px;
				line-height: 44px;
			}
		}
		.additionalText {
			width: 390px;
			p {
				font-size: 14px;
				line-height: 18px;
			}
		}
		.phone_image {
			width: 66px;
			height: 66px;
			svg {
				width: 60px;
				height: 60px;
			}
		}
		.buttons {
			.auth {
				> a {
					border-radius: 15px;
					padding: 14px 60px;
					font-size: 14px;
					width: 240px;
					line-height: 20px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.fuck {
		margin: 142px 0 80px;
	}
	.main_container {
		gap: 12px;
		.head {
			gap: 10px;
			h1 {
				font-size: 24px;
				line-height: 32px;
			}
		}
		.additionalText {
			width: 230px;
			p {
				font-size: 9px;
				line-height: 13px;
			}
		}
		.phone_image {
			width: 51px;
			height: 51px;
			svg {
				width: 45px;
				height: 45px;
			}
		}
		.buttons {
			.auth {
				> a {
					border-radius: 11px;
					padding: 12px 30px;
					font-size: 11px;
					width: 140px;
					line-height: 14px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.fuck {
		margin: 24.5vw 0 2.4vw;
	}
	.main_container {
		gap: 4vw;
		.head {
			gap: 4vw;
			h1 {
				font-size: 8.53vw;
				line-height: 10.93vw;
				text-align: left;
			}
		}
		.additionalText {
			width: 100%;
			p {
				font-size: 4.26vw;
				line-height: 5.86vw;
				text-align: left;
			}
		}
		.phone_image {
			display: none;
		}
		.buttons {
			.auth {
				> a {
					width: 92vw;
					height: 14.4vw;
					border-radius: 5.3vw;
					padding: 0;
					font-size: 4.26vw;
					line-height: 5.86vw;
				}
			}
		}
	}
}
