.fuck {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 336px 0 220px;
}
.main_container {
	gap: 24px;
	display: flex;
	flex-direction: column;
	height: auto;
	align-items: center;
	position: relative;
	.head {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		h1 {
			font-size: 64px;
			line-height: 80px;
			text-align: center;
			font-weight: 700;
		}
		span {
			color: #16161666;
		}
	}
	.additionalText {
		width: 657px;
		p {
			font-size: 24px;
			font-weight: 700;
			line-height: 33px;
			letter-spacing: 0;
			text-align: center;
			color: #00000099;
		}
	}
	.phone_image {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90px;
		height: 90px;
		z-index: 3;
		transition: 0.5s ease;
		@apply hover:text-text;
		position: fixed;
		bottom: 8vh;
		right: 8vw;
		color: #ff7043;
		cursor: pointer;
		&:hover {
			color: #dd6039;
		}
	}
}

@media (max-width: 1600px) {
	.fuck {
		margin: 272px 0 180px;
	}
	.main_container {
		gap: 20px;
		.head {
			gap: 16px;
			h1 {
				font-size: 50px;
				line-height: 60px;
			}
		}
		.additionalText {
			width: 507px;
			p {
				font-size: 18px;
				line-height: 24px;
			}
		}
		.phone_image {
			width: 86px;
			height: 86px;
			svg {
				width: 75px;
				height: 75px;
			}
		}
	}
}

@media (max-width: 1300px) {
	.fuck {
		margin: 202px 0 70px;
	}
	.main_container {
		gap: 16px;
		.head {
			gap: 14px;
			h1 {
				font-size: 36px;
				line-height: 44px;
			}
		}
		.additionalText {
			width: 390px;
			p {
				font-size: 14px;
				line-height: 18px;
			}
		}
		.phone_image {
			width: 66px;
			height: 66px;
			svg {
				width: 60px;
				height: 60px;
			}
		}
	}
}

@media (max-width: 992px) {
	.fuck {
		margin: 142px 0 80px;
	}
	.main_container {
		gap: 12px;
		.head {
			gap: 10px;
			h1 {
				font-size: 24px;
				line-height: 32px;
			}
		}
		.additionalText {
			width: 230px;
			p {
				font-size: 9px;
				line-height: 13px;
			}
		}
		.phone_image {
			width: 51px;
			height: 51px;
			svg {
				width: 45px;
				height: 45px;
			}
		}
	}
}

@media (max-width: 768px) {
	.fuck {
		margin: 24.5vw 0 2.4vw;
	}
	.main_container {
		gap: 6.4vw;
		.head {
			gap: 4.26vw;
			h1 {
				font-size: 7.46vw;
				line-height: 9.6vw;
				text-align: left;
			}
		}
		.additionalText {
			width: 100%;
			p {
				font-size: 4.26vw;
				line-height: 5.86vw;
				text-align: left;
			}
		}
		.phone_image {
			display: none;
		}
	}
}
