.footer {
	margin: 64px 0 0 0;
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	.info {
		display: flex;
		flex-direction: column;
		.logoline {
			width: 100vw;
			height: 70px;
			background: white;
			display: flex;
			align-items: center;
			justify-content: center;
			.content {
				display: flex;
				width: 1120px;
				flex-direction: row;
				justify-content: space-between;
				.image {
				}
				.contact {
					color: #333333;
					display: flex;
					flex-direction: column;
					h1 {
						font-size: 24px;
						font-weight: 600;
						line-height: 24px;
						letter-spacing: 0;
						text-align: right;
					}
					h2 {
						font-size: 13px;
						font-weight: 400;
						line-height: 20px;
						letter-spacing: 0;
						text-align: right;
					}
				}
			}
		}
		.textcontent {
			width: 1120px;
			display: flex;
			flex-direction: column;
			align-self: center;
			margin-top: 32px;
			gap: 16px;
			margin-bottom: 16px;
			-webkit-tap-highlight-color: transparent;
			.text {
				display: flex;
				flex-direction: row;
				gap: 15px;
				h2 {
					font-size: 13px;
					font-weight: 400;
					line-height: 20px;
					letter-spacing: 0;
					text-align: left;
					color: #666666;
					span {
						color: #246bfd;
					}
				}
			}
			.line {
				height: 1px;
				background: #dddfe0;
			}
		}
	}
}

@media (max-width: 1200px) {
	.footer {
		.info {
			p {
				font-size: 12px;
				line-height: 30px;
			}
			h1 {
				font-size: 12px;
				line-height: 39px;
			}
			.doc {
				margin-right: 21vh;
			}
		}
		.bottom {
			p {
				font-size: 8px;
				line-height: 11px;
			}
		}
	}
}

@media (max-width: 440px) {
	.footer {
		.info {
			.logoline {
				.content{
					width: 400px;
					.contact {
						h1 {
							font-size: 24px;
						}
						h2 {
							font-size: 13px;
						}
					}
				}
			}
			.textcontent {
				width: 400px;
				.text{
					h2{
						font-size: 8px;
					}
				}
			}
		}
	}
}
