.footer {
	margin: 128px 0 0 0;
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	background: #f6f6f6;
	padding: 60px 0;
	.container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 1480px;
		width: 100%;
		.aboveline {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.left {
				display: flex;
				flex-direction: column;
				gap: 24px;
				width: fit-content;
				.logo {
					width: fit-content;
				}
				.textcontent {
					display: flex;
					flex-direction: row;
					align-self: center;
					gap: 48px;
					-webkit-tap-highlight-color: transparent;
				}
			}
			.right {
				display: flex;
				flex-direction: column;
				.button {
					margin-top: 3px;
					position: relative;
					cursor: pointer;
					.appUnavailableModal.active {
						//animation: fadeOut 0.6s ease forwards;
					}
					.appUnavailableModal {
						position: absolute;
						top: -170px;
						left: 50%;
						transform: translateX(-50%);
						background-color: #ffffff;
						border-radius: 20px;
						padding: 32px;
						height: 178px;
						width: 580px;
						z-index: 9999;
						text-align: center;
						animation: fadeIn 0.6s ease forwards;
						.triangle {
							svg {
								color: #ffffff;
								z-index: 999;
								position: absolute;
								height: 48px;
								width: 48px;
								bottom: -26px;
								left: calc(50% - 24px);
							}
						}
						.box {
							display: flex;
							flex-direction: row;
							gap: 16px;
							svg {
								height: 48px;
								width: 48px;
								position: relative;
							}
							.text_app {
								width: 450px;
								p {
									font-size: 18px;
									font-weight: 500;
									line-height: 24.59px;
									letter-spacing: 0.03em;
									text-align: left;
									color: #000000;
								}
								span {
									color: #246bfd;
								}
							}
						}
					}
				}
				.copyboard {
					border-radius: 8px;
					padding: 3px;
					transition: background 0.6s ease;
					width: fit-content;
					cursor: pointer;
				}
				.copyboard.active {
					background: rgba(128, 128, 128, 0.57);
				}
			}
		}
		.rustore {
			a {
				svg {
					width: 159px;
					height: 64px;
				}
			}
		}
		.line {
			display: flex;
			height: 1px;
			background: #dddfe0;
		}
		.underline {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			.underline_social {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 16px;
				a {
					svg {
						transition: color 0.5s;
						color: #00000066;
					}

					&:nth-child(2) {
						margin-left: 16px;

						svg {
							&:hover {
								color: #25a2e0;
							}
						}
					}

					&:nth-child(3):hover {
						svg {
							color: #0077ff;
						}
					}
				}
			}
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		gap: 8px;
		p {
			display: flex;
			flex-direction: row;
			gap: 8px;
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			text-align: left;
			color: #00000099;
			span {
				font-size: 20px;
				font-weight: 600;
				line-height: 28px;
				color: #246bfd;
			}
		}
	}
	.cookieContainer {
		position: fixed;
		left: 2vw;
		bottom: 3vh;
		gap: 16px;
		background-color: #f6f6f6;
		color: #000000;
		box-shadow: 0px 4px 5px 0px #0000000d;
		padding: 48px;
		border-radius: 40px;
		width: 713px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		z-index: 999999;
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: 0.03em;
		text-align: left;
		box-sizing: border-box;
		p {
			span {
				font-weight: 700;
			}
		}
		.title {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 16px;
			font-size: 32px;
			font-weight: 700;
			line-height: 44px;
			letter-spacing: 0.03em;
			text-align: left;
		}
		button {
			transition: 0.5s ease;
			margin-top: 8px;
			height: 64px;
			width: 303px;
			border-radius: 24px;
			font-size: 24px;
			font-weight: 700;
			line-height: 33px;
			text-align: center;
			background: #ff7f41;
			color: #ffffff;
			user-select: none;
			&:hover {
				background: #dd6139;
				color: white;
			}
			&:active {
				@apply bg-text bg-opacity-30;
			}
		}
	}
}

@media (max-width: 1600px) {
	.footer {
		margin: 96px 0 0 0;
		padding: 50px 0;
		.container {
			gap: 18px;
			max-width: 1200px;
			.aboveline {
				.left {
					gap: 18px;
					.textcontent {
						gap: 24px;
					}
				}
				.right {
					.button {
						margin-top: 3px;
						.appUnavailableModal {
							top: -120px;
							border-radius: 18px;
							padding: 24px;
							height: 114px;
							width: 430px;
							.triangle {
								svg {
									height: 40px;
									width: 40px;
									bottom: -20px;
									left: calc(50% - 20px);
								}
							}
							.box {
								gap: 14px;
								svg {
									height: 40px;
									width: 40px;
								}
								.text_app {
									width: 340px;
									p {
										font-size: 13px;
										line-height: 18px;
									}
								}
							}
						}
						svg {
							height: 55px;
							width: fit-content;
						}
					}
					.copyboard {
						border-radius: 8px;
						padding: 3px;
						.phone {
							svg {
								height: 30px;
								width: fit-content;
							}
						}
						.email {
							svg {
								height: 15px;
								width: fit-content;
							}
						}
					}
				}
			}
			.underline {
				gap: 12px;
				a {
					svg {
						width: 30px;
						height: 30px;
					}

					&:nth-child(2) {
						margin-left: 12px;
					}
				}
			}
			.rustore {
				a {
					svg {
						width: 129px;
						height: 54px;
					}
				}
			}
		}
		.text {
			gap: 8px;
			p {
				gap: 8px;
				font-size: 13px;
				line-height: 22px;
				span {
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
		.cookieContainer {
			gap: 12px;
			padding: 36px;
			border-radius: 35px;
			width: 592px;
			font-size: 14px;
			line-height: 20px;
			.title {
				gap: 16px;
				font-size: 28px;
				line-height: 32px;
			}
			button {
				margin-top: 6px;
				height: 50px;
				width: 250px;
				border-radius: 20px;
				font-size: 15px;
				line-height: 33px;
			}
		}
	}
}

@media (max-width: 1300px) {
	.footer {
		margin: 72px 0 0 0;
		padding: 40px 0;
		.container {
			gap: 14px;
			max-width: 900px;
			.aboveline {
				.left {
					gap: 14px;
					.logo {
						img {
							height: 40px;
							width: fit-content;
						}
					}
					.textcontent {
						gap: 12px;
					}
				}
				.right {
					.button {
						margin-top: 3px;
						.appUnavailableModal {
							top: -100px;
							border-radius: 18px;
							padding: 18px;
							height: 94px;
							width: 360px;
							.triangle {
								svg {
									height: 32px;
									width: 32px;
									bottom: -14px;
									left: calc(50% - 16px);
								}
							}
							.box {
								gap: 10px;
								svg {
									height: 32px;
									width: 32px;
								}
								.text_app {
									width: 275px;
									p {
										font-size: 11px;
										line-height: 15px;
									}
								}
							}
						}
						svg {
							height: 40px;
							width: fit-content;
						}
					}
					.copyboard {
						border-radius: 8px;
						padding: 3px;
						.phone {
							svg {
								height: 20px;
								width: fit-content;
							}
						}
						.email {
							svg {
								height: 10px;
								width: fit-content;
							}
						}
					}
				}
			}
			.underline {
				gap: 8px;
				a {
					svg {
						width: 25px;
						height: 25px;
					}

					&:nth-child(2) {
						margin-left: 8px;
					}
				}
			}
			.rustore {
				a {
					svg {
						width: 99px;
						height: 44px;
					}
				}
			}
		}
		.text {
			gap: 6px;
			svg {
				width: 16px;
				height: 16px;
			}
			p {
				gap: 6px;
				font-size: 10px;
				line-height: 15px;
				span {
					font-size: 12px;
					line-height: 15px;
				}
			}
		}
		.cookieContainer {
			gap: 10px;
			padding: 28px;
			border-radius: 30px;
			width: 481px;
			font-size: 12px;
			line-height: 14px;
			.title {
				svg {
					width: 14px;
					height: 14px;
				}
				gap: 10px;
				font-size: 18px;
				line-height: 24px;
			}
			button {
				margin-top: 4px;
				height: 40px;
				width: 200px;
				border-radius: 16px;
				font-size: 14px;
				line-height: 33px;
			}
		}
	}
}

@media (max-width: 992px) {
	.footer {
		margin: 64px 0 0 0;
		padding: 30px 0;
		.container {
			gap: 12px;
			max-width: 600px;
			.aboveline {
				.left {
					gap: 12px;
					.logo {
						img {
							height: 30px;
							width: fit-content;
						}
					}
					.textcontent {
						gap: 10px;
					}
				}
				.right {
					.button {
						margin-top: 1px;
						.appUnavailableModal {
							top: -80px;
							border-radius: 14px;
							padding: 14px;
							height: 78px;
							width: 270px;
							.triangle {
								svg {
									height: 26px;
									width: 26px;
									bottom: -10px;
									left: calc(50% - 13px);
								}
							}
							.box {
								gap: 8px;
								svg {
									height: 26px;
									width: 26px;
								}
								.text_app {
									width: 200px;
									p {
										font-size: 8px;
										line-height: 12px;
									}
								}
							}
						}
						svg {
							height: 30px;
							width: fit-content;
						}
					}
					.copyboard {
						border-radius: 8px;
						padding: 3px;
						.phone {
							svg {
								height: 15px;
								width: fit-content;
							}
						}
						.email {
							svg {
								height: 10px;
								width: fit-content;
							}
						}
					}
				}
			}
			.underline {
				gap: 6px;
				a {
					svg {
						width: 18px;
						height: 18px;
					}

					&:nth-child(2) {
						margin-left: 6px;
					}
				}
			}
			.rustore {
				a {
					svg {
						width: 69px;
						height: 34px;
					}
				}
			}
		}
		.text {
			gap: 6px;
			svg {
				width: 14px;
				height: 14px;
			}
			p {
				gap: 3px;
				font-size: 8px;
				line-height: 14px;
				span {
					font-size: 8px;
					line-height: 14px;
				}
			}
		}
		.cookieContainer {
			gap: 8px;
			padding: 20px;
			border-radius: 25px;
			width: 333px;
			font-size: 8px;
			line-height: 12px;
			.title {
				svg {
					width: 10px;
					height: 10px;
				}
				gap: 8px;
				font-size: 14px;
				line-height: 18px;
			}
			button {
				margin-top: 2px;
				height: 30px;
				width: 150px;
				border-radius: 18px;
				font-size: 11px;
				line-height: 24px;
			}
		}
	}
}

@media (max-width: 768px) {
	.footer {
		background: white;
		margin: 17.1vw 0 6.4vw 0;
		padding: 0 2.6vw;
		.container {
			display: flex;
			flex-direction: column;
			gap: 6.4vw;
			max-width: 92vw;
			.aboveline {
				flex-direction: column;
				justify-content: center;
				gap: 6.4vw;
				.left {
					gap: 6.4vw;
					width: fit-content;
					.textcontent {
						flex-direction: column;
						gap: 12.8vw;
					}
				}
				.right {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 1.6vw;
					.button {
						margin-top: 3.4vw;
						.appUnavailableModal {
							background: #f6f6f6;
							top: -30vw;
							border-radius: 4.4vw;
							padding: 4vw;
							height: 28vw;
							width: 92vw;
							.triangle {
								svg {
									height: 8.53vw;
									width: 8.53vw;
									bottom: -5vw;
									left: calc(50% - 4.25vw);
									color: #f6f6f6;
								}
							}
							.box {
								gap: 2vw;
								svg {
									height: 8.53vw;
									width: 8.53vw;
								}
								.text_app {
									width: 70vw;
									p {
										font-size: 2.9vw;
										line-height: 5vw;
									}
								}
							}
						}
						svg {
							height: fit-content;
							width: 86.4vw;
						}
					}
					.copyboard {
						border-radius: 8px;
						padding: 3px;
						transition: background 0.6s ease;
						width: fit-content;
						.phone {
							svg {
								height: fit-content;
								width: 69.3vw;
							}
						}
						.email {
							svg {
								height: fit-content;
								width: 33.6vw;
							}
						}
					}
					.copyboard.active {
						background: rgba(128, 128, 128, 0.57);
					}
					.logo {
						display: flex;
						justify-content: center;
						align-self: center;
						width: 61.87vw;
						height: fit-content;
					}
					.rustore {
						svg {
							width: 92vw;
							height: 14vw;
						}
					}
				}
			}
			.line {
				display: none;
			}
			.underline {
				justify-content: center;
				gap: 4vw;
				a {
					svg {
						width: 8.53vw;
						height: 8.53vw;
					}

					&:nth-child(2) {
						margin-left: 49.6vw;
					}
				}
				.text {
					font-size: 4.26vw;
				}
			}
		}
		.text {
			display: flex;
			flex-direction: column;
			gap: 6.4vw;
			p {
				align-items: center;
				flex-direction: row;

				font-weight: 600;
				gap: 0.5vw;
				font-size: 4.26vw;
				line-height: 5.86vw;
				svg {
					width: 6.4vw;
					height: 6.4vw;
				}
				span {
					font-size: 4.26vw;
					font-weight: 600;
					line-height: 5.86vw;
				}
			}
			.authtext {
				color: #000000;
			}
		}
		.cookieContainer {
			gap: 2vw;
			padding: 6vw;
			border-radius: 6.4vw;
			width: 70vw;
			font-size: 2vw;
			line-height: 3vw;
			.title {
				svg {
					width: 3.5vw;
					height: 3.5vw;
				}
				gap: 2vw;
				font-size: 3vw;
				line-height: 4.5vw;
			}
			button {
				margin-top: 1vw;
				height: 8vw;
				width: 40vw;
				border-radius: 4.8vw;
				font-size: 3vw;
				line-height: 4.5vw;
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
