.footer {
	margin: 128px 0 0 0;
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	background: #f6f6f6;
	padding: 60px 0;
	.container {
		display: flex;
		flex-direction: column;
		gap: 24px;
		.aboveline {
			display: flex;
			flex-direction: row;
			gap: 131px;
			.left {
				display: flex;
				flex-direction: column;
				gap: 24px;
				width: 1028px;
				.textcontent {
					display: flex;
					flex-direction: row;
					align-self: center;
					gap: 48px;
					-webkit-tap-highlight-color: transparent;
				}
			}
			.right {
				display: flex;
				flex-direction: column;
				gap: 6px;
				.button {
					margin-top: 3px;
				}
				.copyboard {
					border-radius: 10px;
					padding: 12px;
					transition: background 0.6s ease;
					width: fit-content;
				}
				.copyboard.active {
					background: rgba(128, 128, 128, 0.57); /* Цвет серого фона */
				}
			}
		}
		.line {
			display: flex;
			height: 1px;
			background: #dddfe0;
		}
		.underline {
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		gap: 8px;
		p {
			display: flex;
			flex-direction: row;
			gap: 8px;
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			text-align: left;
			color: #00000099;
			span {
				font-size: 20px;
				font-weight: 600;
				line-height: 28px;
				color: #246bfd;
			}
		}
	}
	.cookieContainer {
		position: fixed;
		left: 2vw;
		bottom: 3vh;
		background-color: #ebebeb;
		padding: 1vh;
		border-radius: 15px;
		width: 27vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 999999;
		font-size: calc((1vw + 1vh) * 0.45);
		font-weight: 300;
		line-height: calc((1vw + 1vh) * 1);
		text-align: left;
		box-sizing: border-box;

		p {
			span {
				text-decoration: underline;
			}
		}

		button {
			height: 4vh;
			width: 10vw;
			border-radius: 5px;
			border-color: gray;
			border-style: solid;
			border-width: 1px;
			margin-left: auto;
		}
	}
}

//@media (max-width: 1200px) {
//	.footer {
//		.info {
//			p {
//				font-size: 12px;
//				line-height: 30px;
//			}
//			h1 {
//				font-size: 12px;
//				line-height: 39px;
//			}
//			.doc {
//				margin-right: 21vh;
//			}
//		}
//		.bottom {
//			p {
//				font-size: 8px;
//				line-height: 11px;
//			}
//		}
//	}
//}
//
//@media (max-width: 440px) {
//	.footer {
//		.info {
//			.logoline {
//				height: 50px;
//				.content {
//					width: 400px;
//					.contact {
//						h1 {
//							font-size: 20px;
//						}
//						h2 {
//							font-size: 10px;
//						}
//					}
//				}
//			}
//			.textcontent {
//				width: 400px;
//				gap: 8px;
//				margin-top: 16px;
//				margin-bottom: 8px;
//				.text {
//					h2 {
//						font-size: 8px;
//					}
//				}
//			}
//		}
//	}
//}
