.base {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	width: 70.9375vw;
	.text {
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		gap: 0.833vw;
		margin-bottom: 1.25vw;
		margin-top: 6.67vw;
		h2 {
			font-size: 2.08vw;
			font-weight: 700;
			line-height: 2.5vw;
			text-align: left;
			color: #0e131f;
		}
		p {
			font-size: 0.78125vw;
			font-weight: 400;
			line-height: 1.25vw;
			text-align: left;
			color: #0e131fb2;
		}
	}
	.main_container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1.25vw;
		margin-bottom: 2.708vw;
		.card {
			display: flex;
			flex-direction: column;
			width: 22.8646vw;
			height: 25.52vw;
			border-radius: 1.25vw;
			background: #7140fd1a;
			padding: 0.9895vw 1.796875vw;
			gap: 0.833vw;
			img {
				width: 3.33vw;
				height: 3.33vw;
			}
			.title {
				h4 {
					font-size: 1.25vw;
					font-weight: 600;
					line-height: 1.0416vw;
					letter-spacing: 0.004em;
					text-align: left;
					color: #000000;
				}
			}
			.description {
				p {
					height: 3.125vw;
					font-size: 0.78vw;
					font-weight: 400;
					line-height: 1.04vw;
					text-align: left;
					color: #161616b2;
				}
			}
			.row {
				display: flex;
				flex-direction: row;
				gap: 0.42vw;
				align-items: center;
				p {
					font-size: 0.78vw;
					line-height: 1.04vw;
					color: #161616b2;
					font-weight: 600;
					margin-bottom: 0;
				}
				svg {
					width: 1.25vw;
					height: 1.25vw;
				}
			}

			&:nth-child(2) {
				background: #fa92151a;
			}
			&:nth-child(3) {
				background: #fceced;
			}
		}
	}
}

@media (max-width: 768px) {
	.base {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #f5f5f5;
		width: 89.7436vw;
		padding: 8.2051vw 6.1538vw 12.8205vw;
		gap: 14.6154vw;
		border-radius: 6.1538vw;
		box-shadow: 0.0872vw 0.0872vw 0.0872vw 0 #1d2d5233;

		.text {
			display: flex;
			flex-direction: column;
			align-self: flex-start;
			gap: 6.1538vw;
			margin-bottom: 0;
			margin-top: 0;
			h2 {
				font-size: 7.1795vw;
				font-weight: 700;
				line-height: 8.2051vw;
				text-align: left;
				color: #000000e5;
			}
			p {
				font-size: 4.3589vw;
				font-weight: 400;
				line-height: 6.1538vw;
				text-align: left;
				color: #535764;
			}
		}
		.main_container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 3.0769vw;
			margin-bottom: 0;
			padding-left: 2.3077vw;
			width: 100%;
			position: relative;
			.row {
				display: flex;
				flex-direction: row;
				gap: 2.0513vw;
				align-items: center;
				justify-content: center;
				p {
					font-size: 3.8462vw;
					line-height: 6.1538vw;
					color: #000000;
					font-weight: 500;
					margin-bottom: 0;
				}
				svg {
					width: 6.1538vw;
					height: 6.1538vw;
					color: #4d5382;
				}
			}
			.image {
				position: absolute;
				top: 0.5128vw;
				right: 2.3077vw;
				svg {
					color: #29a9ea;
					width: 21.0256vw;
				}
			}
		}
	}
}
