.base {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	width: 70.9375vw;
	.text {
		display: flex;
		flex-direction: column;
		align-self: flex-start;
		gap: 0.833vw;
		margin-bottom: 1.25vw;
		margin-top: 6.67vw;
		h2 {
			font-size: 2.08vw;
			font-weight: 700;
			line-height: 2.5vw;
			text-align: left;
			color: #0e131f;
		}
		p {
			font-size: 0.78125vw;
			font-weight: 400;
			line-height: 1.25vw;
			text-align: left;
			color: #0e131fb2;
		}
	}
	.main_container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1.25vw;
		margin-bottom: 2.708vw;
		.card {
			display: flex;
			flex-direction: column;
			width: 22.8646vw;
			height: 25.52vw;
			border-radius: 1.25vw;
			background: #7140fd1a;
			padding: 0.9895vw 1.796875vw;
			gap: 0.833vw;
			img {
				width: 3.33vw;
				height: 3.33vw;
			}
			.title {
				h4 {
					font-size: 1.25vw;
					font-weight: 600;
					line-height: 1.0416vw;
					letter-spacing: 0.004em;
					text-align: left;
					color: #000000;
				}
			}
			.description {
				p {
					height: 3.125vw;
					font-size: 0.78vw;
					font-weight: 400;
					line-height: 1.04vw;
					text-align: left;
					color: #161616b2;
				}
			}
			.row {
				display: flex;
				flex-direction: row;
				gap: 0.42vw;
				align-items: center;
				p {
					font-size: 0.78vw;
					line-height: 1.04vw;
					color: #161616b2;
					font-weight: 600;
					margin-bottom: 0;
				}
				svg {
					width: 1.25vw;
					height: 1.25vw;
				}
			}

			&:nth-child(2) {
				background: #fa92151a;
			}
			&:nth-child(3) {
				background: #fceced;
			}
		}
	}
}

@media (max-width: 768px) {
}
