.base {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2.8125vw 0;
	img {
		user-select: none;
		pointer-events: none;
	}
	.circle {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		background: #ffffff80;
		z-index: 2;
		width: 1.875vw;
		height: 1.875vw;
		border: 0.105vw solid #dedee0;
		transition: background 0.5s;
		svg {
			transition: color 0.5s;
			width: 1.25vw;
			height: 1.25vw;
			color: #747474;
		}
	}
	.main_container {
		display: flex;
		flex-direction: column;
		gap: 1.67vw;
		align-items: center;
		justify-content: center;
		.text {
			align-self: flex-start;
			h3 {
				font-size: 2.083vw;
				font-weight: 800;
				line-height: 2.5vw;
				text-align: left;
				letter-spacing: -0.03125vw;
			}
		}
		.row {
			display: flex;
			flex-direction: row;
			gap: 1.25vw;
		}
		.column {
			display: flex;
			flex-direction: column;
			gap: 1.25vw;
			.first {
				width: 71.04167vw;
				height: 39.0625vw;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				border-radius: 1.25vw;
				background: #2a2c32;
				.image {
					background: url('../../../../assets/icons/professional/ProfessionalBackgroundFirst.png')
						no-repeat;
					background-size: cover;
					width: 35vw;
					height: 39.0625vw;
				}
				.text {
					display: flex;
					flex-direction: column;
					gap: 1.25vw;
					padding: 4.6875vw 5.78125vw;
					.name {
						font-size: 0.729vw;
						font-weight: 600;
						line-height: 1.04167vw;
						letter-spacing: 0.0208vw;
						text-align: left;
						color: #0ba3ad;
						margin-bottom: 0.4167vw;
						width: 24.4792vw;
					}
					span {
						font-size: 1.67vw;
						font-weight: 800;
						line-height: 2.29vw;
						letter-spacing: -0.03125vw;
						text-align: left;

						color: #ffffff;
					}
					.row_item {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: flex-start;
						gap: 0.833vw;
						.point {
							width: 0.4167vw;
							height: 0.4167vw;
							border-radius: 100%;
							background: #0ba3ad;
						}
						p {
							font-size: 0.833vw;
							font-weight: 600;
							line-height: 1.25vw;
							text-align: left;
							color: #ffffff;
						}
					}
				}
			}
			.second {
				width: 71.04167vw;
				height: 25.52vw;
				.up {
					height: 25.52vw;
					width: 22.8645vw;
					background: #f2f2f8;
					border-radius: 1.67vw;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					padding: 2.604vw 2.604vw 1.667vw;
					overflow: hidden;
					gap: 3.75vw;
					img {
						width: 16vw;
						height: 12.5vw;
					}
					.text {
						display: flex;
						flex-direction: column;
						gap: 0.4167vw;
						p {
							font-size: 1.25vw;
							font-weight: 600;
							line-height: 1.354vw;
							letter-spacing: -0.01145vw;
							text-align: left;
							color: #000000;
						}
						span {
							font-size: 0.78125vw;
							font-weight: 500;
							line-height: 1.1458vw;
							letter-spacing: -0.00677vw;
							text-align: left;
							color: #535764;
						}
					}
				}
				.left {
					height: 25.52vw;
					width: 22.8645vw;
					background: #f2f2f8;
					border-radius: 1.67vw;
					padding: 1.51vw 0 2.604vw 2.083vw;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-end;
					gap: 1.771vw;
					img {
						width: 15.3125vw;
						height: 15.5729vw;
						align-self: flex-end;
					}
					.text {
						display: flex;
						flex-direction: column;
						gap: 0.4167vw;
						p {
							font-size: 1.25vw;
							font-weight: 600;
							line-height: 1.3542vw;
							letter-spacing: -0.01145vw;
							text-align: left;
							color: #000000;
						}
						span {
							font-size: 0.78125vw;
							font-weight: 500;
							line-height: 1.1458vw;
							letter-spacing: -0.00677vw;
							text-align: left;
							color: #535764;
						}
					}
				}
				.right {
					height: 25.52vw;
					width: 22.8645vw;
					background: #f2f2f8;
					border-radius: 1.67vw;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-end;
					overflow: hidden;
					position: relative;
					.circle {
						position: absolute;
						bottom: 1.09vw;
						left: 1.09vw;
					}
					img {
						transition: margin-bottom 0.5s;
						//margin-bottom: -21.302vw;
						width: 17.604vw;
					}
					//&:hover {
					//	img {
					//		margin-bottom: -13.54vw;
					//	}
					//	.circle {
					//		background: #29a9ea;
					//		svg {
					//			color: #ffffff;
					//		}
					//	}
					//}
				}
			}
			.third {
				@extend .first;
				.image {
					background: url('../../../../assets/icons/professional/ProfessionalBackgroundThirdBottom.png')
						no-repeat;
					background-size: cover;
				}
			}
			.fourth {
				width: 71.04167vw;
				height: 25.52vw;
				.left {
					height: 25.52vw;
					width: 22.8645vw;
					border-radius: 1.67vw;
					background: url('../../../../assets/icons/professional/ProfessionalBackgroundFouthLeft.png')
						no-repeat;
					background-size: cover;
				}
				.center {
					height: 25.52vw;
					width: 22.8645vw;
					border-radius: 1.67vw;
					background: url('../../../../assets/icons/professional/ProfessionalBackgroundFourthCenter.png')
						no-repeat;
					background-size: cover;
				}
				.right {
					height: 25.52vw;
					width: 22.8645vw;
					background: #f2f2f8;
					border-radius: 1.67vw;
					display: flex;
					flex-direction: column;
					overflow: hidden;
					padding-top: 3vw;
					&:hover {
						img {
							margin-left: 4.0885vw;
							rotate: 0grad;
						}
						.circle {
							background: #29a9ea;
							svg {
								color: #ffffff;
							}
						}
					}
					img {
						transition:
							rotate 0.5s,
							margin-left 0.5s;
						margin-left: 10vw;
						rotate: -10grad;
						width: 14.67vw;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.base {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		.main_container {
			display: flex;
			flex-direction: column;
			gap: 0;
			margin-bottom: -10.2564vw;
			.text {
				align-self: flex-start;
				h3 {
					font-size: 2.083vw;
					font-weight: 800;
					line-height: 2.5vw;
					text-align: left;
					letter-spacing: -0.03125vw;
				}
			}
			.row {
				display: flex;
				flex-direction: row;
				gap: 1.25vw;
			}
			.column {
				gap: 0;
				.first {
					width: 100vw;
					height: fit-content;
					padding: 10.2564vw 5.1282vw;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					border-radius: 6.1538vw;
					background: transparent;
					gap: 4.1026vw;
					.image {
						background: url('../../../../assets/icons/professional/ProfessionalBackgroundFirstMobile.png')
							no-repeat;
						background-size: cover;
						width: 89.3436vw;
						height: 81.6513vw;
						padding: 0.2vw;
					}
					.text {
						display: flex;
						flex-direction: column;
						gap: 0;
						padding: 0;
						.name {
							font-size: 3.5897vw;
							font-weight: 700;
							line-height: 5.1282vw;
							letter-spacing: 0.1026vw;
							text-align: left;
							color: #0ba3ad;
							width: 100%;
						}
						span {
							font-size: 7.1795vw;
							font-weight: 700;
							line-height: 10.2564vw;
							letter-spacing: -0.1538vw;
							text-align: left;

							color: #000000e5;
						}
						.row_item {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: flex-start;
							gap: 4.1026vw;
							padding-top: 6.1538vw;
							.point {
								width: 2.0513vw;
								height: 2.0513vw;
								border-radius: 100%;
								background: #0ba3ad;
							}
							p {
								font-size: 3.8462vw;
								font-weight: 500;
								line-height: 5.128vw;
								text-align: left;
								color: #10121e;
							}
						}
					}
				}
				.second {
					display: none;
				}
				.third {
					@extend .first;
					.image {
						background: url('../../../../assets/icons/professional/ProfessionalBackgroundThirdBottomMobile.png')
							no-repeat;
						background-size: cover;
					}
				}
				.fourth {
					display: none;
				}
			}
		}
	}
}
