.container {
	width: 600px;
	height: 675px;
	margin: 0 20px;

	.card {
		width: 624px;
		height: 586px;
		padding: 48px 24px;
		background: #f6f6f6;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 20px;
		position: relative;

		.feedback {
			p {
				font-size: 16px;
				font-weight: 600;
				line-height: 27.32px;
				text-align: left;
				color: #161616;
			}
		}

		.master {
			display: flex;
			flex-direction: column;
			gap: 16px;
			p {
				font-size: 18px;
				font-weight: 600;
				line-height: 24px;
				text-align: left;
				color: #16161699;
			}

			span {
				color: #161616;
			}

			.name {
				p {
					font-size: 24px;
					font-weight: 700;
					line-height: 33px;
					text-align: left;
					color: #161616;
				}
			}
		}

		.image {
			display: flex;
			flex-direction: row;
			gap: 16px;
			font-size: 16px;
			font-weight: 600;
			line-height: 21.86px;
			text-align: left;
			color: #ffffff99;
			align-items: center;
			img {
				width: 100px;
				height: 100px;
				border-radius: 100%;
			}
		}
		.button_container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			svg {
				width: 54px;
				height: 54px;
				color: #16161666;
				transition: color 0.5s;
				&:hover {
					color: #0077ff;
				}
			}
		}
		button {
			background: #246bfd;
			width: 234px;
			height: 54px;
			border-radius: 12px;
			color: white;
			font-size: 16px;
			font-weight: 700;
			line-height: 22px;
			text-align: left;
			transition: 0.5s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				background: #1f62ed;
			}
			&:active {
				background: #bec0ca;
			}
		}
	}

	.card-2 {
		background: #252525;

		.feedback {
			p {
				color: #ffffff;
			}
		}

		.master {
			p {
				color: #ffffff99;
			}

			span {
				color: #ffffff;
			}

			.name {
				p {
					color: #ffffff;
				}
			}
		}

		.image {
		}
		.button_container {
			svg {
				color: #ffffff66;
			}
		}
	}

	.card-3 {
		background: #f6f6f6;

		.image {
			color: #16161699;
		}
	}
}

@media (max-width: 1600px) {
	.container {
		width: 524px;
		height: 486px;
		margin: 0 16px;
		.card {
			width: 524px;
			height: 486px;
			padding: 20px 40px;
			border-radius: 20px;
			.feedback {
				p {
					font-size: 15px;
					line-height: 20px;
				}
			}

			.master {
				gap: 6px;
				p {
					font-size: 15px;
					line-height: 17px;
				}
				.name {
					p {
						font-size: 20px;
						line-height: 30px;
					}
				}
			}
			.image {
				font-size: 12px;
				line-height: 16px;
				gap: 12px;
				img {
					width: 80px;
					height: 80px;
				}
			}
			.button_container {
				svg {
					width: 44px;
					height: 44px;
				}
			}
			button {
				height: 44px;
				border-radius: 10px;
				font-size: 14px;
				line-height: 20px;
				width: 204px;
			}
		}
	}
}

@media (max-width: 1300px) {
	.container {
		width: 424px;
		height: 386px;
		margin: 0 12px;
		.card {
			width: 424px;
			height: 386px;
			padding: 16px 32px;
			border-radius: 18px;
			.feedback {
				p {
					font-size: 11px;
					line-height: 15px;
				}
			}

			.master {
				gap: 6px;
				p {
					font-size: 11px;
					line-height: 15px;
				}
				.name {
					p {
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
			.image {
				font-size: 10px;
				line-height: 14px;
				gap: 8px;
				img {
					width: 60px;
					height: 60px;
				}
			}
			.button_container {
				svg {
					width: 34px;
					height: 34px;
				}
			}
			button {
				height: 34px;
				border-radius: 8px;
				font-size: 10px;
				line-height: 18px;
				width: 154px;
			}
		}
	}
}

@media (max-width: 992px) {
	.container {
		width: 284px;
		height: 266px;
		margin: 0 10px;
		.card {
			width: 284px;
			height: 266px;
			padding: 12px 24px;
			border-radius: 16px;
			.feedback {
				p {
					font-size: 7px;
					line-height: 11px;
				}
			}

			.master {
				gap: 6px;
				p {
					font-size: 7px;
					line-height: 11px;
				}
				.name {
					p {
						font-size: 12px;
						line-height: 15px;
					}
				}
			}
			.image {
				font-size: 6.5px;
				line-height: 10px;
				gap: 4px;
				img {
					width: 40px;
					height: 40px;
				}
			}
			.button_container {
				svg {
					width: 24px;
					height: 24px;
				}
			}
			button {
				height: 24px;
				border-radius: 6px;
				font-size: 7px;
				line-height: 16px;
				width: 110px;
			}
		}
	}
}

@media (max-width: 768px) {
	.container {
		width: 92vw;
		height: 193.8vw;
		margin: 0 5vw;
		.card {
			width: 90vw;
			height: 193.8vw;
			padding: 6.4vw;
			border-radius: 5.3vw;
			.feedback {
				p {
					font-size: 3.73vw;
					line-height: 5.3vw;
				}
			}
			.master {
				gap: 2.13vw;
				width: 100%;
				p {
					font-size: 4.26vw;
					line-height: 5.86vw;
				}
				.name {
					p {
						font-size: 6.4vw;
						line-height: 8.8vw;
					}
				}
			}
			.image {
				position: relative;
				bottom: 0;
				right: 0;
				img {
					width: 49vw;
					height: 49vw;
				}
			}
			button {
				padding: 0;
				width: 79vw;
				height: 14.4vw;
				border-radius: 3.2vw;
				font-size: 4.26vw;
				line-height: 5.86vw;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
